[2020-11-17 08:27] PlugFox opened #1 "Add hyperlink to pub badge"
Add hyperlink to pub badge

`[![Pub](https://img.shields.io/pub/v/mason.svg)](https://pub.dev/packages/mason)`
[![Pub](https://img.shields.io/pub/v/mason.svg)](https://pub.dev/packages/mason)

[2020-11-17 17:20] felangel commented on #1
Hey @PlugFox 👋
Thanks for opening an issue!

I added the links as part of https://github.com/felangel/mason/commit/d02c60e963e13eb6d3c4e89c52b8d064c6a710d2 🎉

[2020-11-17 17:20] #1 closed

[2020-11-20 18:56] felangel opened #5 "Support for Regex"

[2020-11-20 18:56] felangel opened #6 "Support for Conditionals"

[2020-11-20 18:56] felangel opened #7 "Support for Modifying Existing Files"

[2020-11-20 18:57] orestesgaolin commented on #5
I imagine a way to provide a regex e.g. to add line in build.gradle inside the dependencies node

[2020-11-20 18:59] felangel opened #8 "Support File Paths as Input Variables"
Resolve file paths to assets when generating template

[2020-11-23 05:29] felangel opened #9 "Support for Template Loops"

[2020-11-23 05:29] felangel opened #10 "Support for JSON Variable Input"

[2020-11-23 05:31] #9 closed

[2020-11-23 05:31] #10 closed

[2020-11-23 05:46] #6 closed

[2020-11-23 09:13] mtwichel opened #13 "Support Multiple Templates in One Build Command"
# Motivation
I'm about to implement some templates into my Flutter app, but I ran into one little snag.

It would be super nice if you could specify multiple template files to build when writing your `mason.yaml`. For example, running `mason build widget` could generate view code and a test file.

We also may want to move where the `vars` property lives. I believe they are still bound to each temp

[2020-11-23 17:07] felangel commented on #13
Hey @mtwichel 👋
Thanks for opening an issue!

In this case, I would recommend having the `view_template.dart` and `test_template.dart` be part of the same `widget` template. The url of the template in this case would just point to the `template.yaml` which registers the `vars` and the `__template__` itself can contain multiple files and subdirectories (for the view and test files).

Let me know if

[2020-11-23 17:28] mtwichel commented on #13
@felangel Gotcha thanks. We may want to adjust the readme or examples to have that flow so people know it's possible, but that's great it is possible! 💯  🎉

[2020-11-23 17:29] felangel commented on #13
yeah definitely! I'll add a more complex example shortly 👍

[2020-11-23 21:24] felangel commented on #13
https://github.com/felangel/mason/commit/92e4cf34087892e87446f37df6f47fb69e3a20dc

[2020-11-23 21:24] #13 closed

[2020-11-24 06:47] #8 closed

[2020-11-30 06:36] mtwichel opened #16 "Creating new brick with mason new <NAME> with empty mason.yaml throws error."
## Steps to Reproduce
1. Run `mason init` in new directory
2. Open generated `mason.yaml` and delete all the contents
3. Run `mason new test`

You'll receive the following stack trace:

[code]

## Expected Behavior
I would expect the CLI to generate a new `bricks:` entry in `mason.yaml`, then add my new brick to the file.

## Background
I stumbled across this as I was trying out the new commands.

[2020-12-02 18:41] #16 closed

[2020-12-04 05:54] felangel commented on #7
Existing files can be modified by replacing static portions with template variables via regex and then consumed via mason. Marking this as out of scope for now but may revisit in the future.

[2020-12-04 05:54] #7 closed

[2021-01-10 22:01] felangel commented on #5
Closing this for now because rather than trying to figure out a way to bake this in, I feel it's better to write a Dart CLI which replaces the desired lines with template strings and uses `mason` as a dependency to generate the code from the template using the `MasonGenerator.fromGitPath` API.

[2021-01-10 22:01] #5 closed

[2021-03-11 20:41] jsroest opened #36 "Allow {{#snakeCase}}{{var_name}}{{/snakeCase}} to be used in files and folders"
Hi,
This generator seems to do exactly what I want, besides one thing I can't figure out.

How can I use the #snakeCase, #pascalCase and #camelCase tags in a file or folder name?

The closing tag with the forward slash is not allowed, eg {{/snakeCase}}

[2021-03-11 21:16] felangel commented on #36
Hi @jsroest 👋
Thanks for opening an issue!

You should be able to accomplish this by treating the `/` as a new directory. You can take a look at https://github.com/felangel/mason/blob/master/bricks/todos/__brick__/todos/%7B%7B%23todos%7D%7Dtodo_%7B%7B%7Btodo%7D%7D%7D_todo.md%7B%7B/todos%7D%7D for an example.

Let me know if that helps 👍

[2021-03-11 21:29] jsroest commented on #36
Thanks, works like a charm. 🍺

[2021-03-11 21:29] #36 closed

[2021-03-22 19:04] Ascenio opened #37 "fix: Crashes when no argument to 'new' is provided"
**Description**
When the user tries to create a new brick without providing the name, the tool crashes.

**Steps To Reproduce**
1. Open a mason project
2. Type exactly `mason new`
3. Profit

**Expected Behavior**
Should prompt the help menu the same way as `mason make`

**Logs**
[code]

[2021-03-22 19:18] Ascenio opened #38 "docs: Add example of bundle"
**Description**
I didn't see any examples of the `bundle` command in the docs. So I tried myself with help of `help` xD and it worked flawlessly.
However, I see no problem about adding it to the README as very short text should be enough.

**Requirements**

- [ ] Add a example
- [ ] Explain the motivation/use cases of it
- [ ] Update the usage section

[2021-04-10 06:14] mrverdant13 opened #39 "fix: Escaped backslash issue on Windows"
## **Description**
When a new brick is created on Windows OS, its path misuses Windows path separation character (`\`).

## **Steps To Reproduce**

1. Within a folder with mason already initialized, create a new brick with `mason new my_brick`

2. See the updated `mason.yaml` file with a content like the following snippet:
[code]
    **Note the use of a backslash as path separator.**

3. Try to ge

[2021-04-21 10:23] Miiite opened #41 "fix: Special characters (like the dot) are encoded in the rendered files"
**Description**
Mason seems to encode some special characters, when it shouldn't ?

**Steps To Reproduce**

1. Create the Hello brick sample
2. Execute `mason make hello --name '../../mypath'`
3. Open the generated readme.md file
4. See the content `Hello ..&#x2F;..&#x2F;mypath!`

**Expected Behavior**
When using this kind of string value in a raw mustache template (and applying the value using th

[2021-04-21 13:38] Miiite commented on #41
I suck at regex, but in the `generator.dart` `_createContent` method, there is already a regular expression to sanitize unicode characters from the templated string.

[code]

Even though the `sanitized.render(vars)` returns my string `Hello ..&#x2F;..&#x2F;mypath!` it does not get sanitized by the code currently in place. My guess is that the Regex used does not match in my scenario ... But like I

[2021-04-21 13:50] #41 closed

[2021-04-21 13:51] Miiite commented on #41
I found the origin of my problem in the mustache documentation:

[code]

All I needed to do was to include my template file variable in triple accolades.

[2021-05-24 04:13] #39 closed

[2021-05-25 19:44] #38 closed

[2021-05-26 03:09] #37 closed

[2021-05-26 03:15] felangel commented on #37
This has been addressed by #46 and published in v0.0.1-dev.30 👍

[2021-05-27 18:13] mrgnhnt96 opened #49 "Unclosed tag in file name"
**Description**
A clear and concise description of what the bug is.

When I create a new file `{{#snakeCase}}{{name}}{{/snakeCase}}.dart`, vscode will create a new folder named `{{#snakeCase}}{{name}}{{` and contains a file named `snakeCase}}.dart`.

If I open Finder to create the file, create it, go back to vscode, the file name reads  `{{#snakeCase}}{{name}}{{:snakeCase}}.dart`.

Is there a sett

[2021-05-27 18:15] felangel commented on #49
Hi @mrgnhnt96 👋
Thanks for opening an issue!

I believe this is a duplicate of https://github.com/felangel/mason/issues/36. Let me know if that helps 👍

[2021-05-27 18:39] mrgnhnt96 commented on #49
Yup! That solves it! Thank you!

[2021-05-27 18:39] #49 closed

[2021-05-27 19:04] mrgnhnt96 opened #50 "nested File paths don't work"
**Description**

the slash `/` is replaced with `&#x2F;` in nested folders

Within my brick template I have
__brick__
   - {{url}}
        - {{#snakeCase}}{{name}}{{/snakeCase}}.dart

my brick.yaml
[code]

When I make the brick it creates the file in this folder
[code]

instead of `features&#x2F;dart_container` it should be `features/dart_container`

**Steps To Reproduce**

1. add a folder with th

[2021-05-27 19:09] felangel commented on #50
Hi @mrgnhnt96 👋
Thanks for opening an issue!

I'm not able to reproduce. Are you sure `{{url}}` is a folder?

This is my directory structure:
[code]

[2021-05-27 19:16] mrgnhnt96 commented on #50
hey @felangel!

My folder structure is

[code]

[2021-05-27 19:19] felangel commented on #50
Thanks! Are you able to provide a quick screen recording? Alternatively you can join the [discord](https://discord.gg/bloc) and I'm happy to do a quick debugging session 👍

[2021-05-27 19:39] felangel commented on #50
@mrgnhnt96 I just looked more closely and realized the issue is you need to use `{{{url}}}` if you want to have the content be unescaped. That should work now, let me know 👍

[2021-05-27 19:49] mrgnhnt96 commented on #50
{{{url}}} fixed it for me!

[2021-05-27 19:49] #50 closed

[2021-05-28 07:46] Chojecki opened #53 "docs: How to specify file name with pascalCase"
**Description**

When I want to add new file with `{{#snakeCase}}{{name}}{{/snakeCase}}.dart` template, the `/` char will break name in `VS Code` and create a `Folder` called `{{#snakeCase}}{{name}}{{` with file `snakeCase}}.dart`

Any Idea how to create it?

**Requirements**

- [x ] use VS Code

[2021-05-28 13:20] felangel commented on #53
Hi @Chojecki 👋
Thanks for opening an issue!

I believe this is a duplicate of #36. It’s working as expected, when you generate using `mason make` it will generate the file 👍

[2021-05-28 13:33] Chojecki commented on #53
Nice, thanks!

[2021-05-28 14:29] #53 closed

[2021-05-30 20:40] Fasuh opened #56 "fix: Can't import template from git on Windows"
**Description**
After filling up `mason.yaml` im getting an error

`FileSystemException: Exists failed, path = 'C:\Users\bbkk9\AppData\Local\Mason\Cache\git\git@github.com:Fasuh/mason_template.git' (OS Error: The filename, directory name, or volume label syntax is incorrect.
, errno = 123)
`
the same conficuration works on MacOS

**Steps To Reproduce**

rather self explanatory

**Expected Behavior

[2021-05-30 22:57] Rodsevich opened #57 "feat: Use mustachex engine for improving usability"
**Description**

ATM the way to go with recasing is with code like `{{#pascalCase}}{{varName}}{{/pascalCase}}`, with [mustachex (mustache extended)](https://pub.dev/packages/mustachex) the same code could be simplified to `{{varName_pc}}` and it will be pretty cheap to implement. Besides I'm the maintainer of the package and any required change could be done for this purpose (like migrating it to

[2021-05-31 04:01] felangel commented on #56
Sorry for the inconvenience! I should have a fix for this by tomorrow 👍

[2021-06-01 08:29] Fasuh commented on #56
Thanks for the fix

[2021-06-01 16:27] YazeedAlKhalaf opened #59 "fix: Lambdas on windows do not work because of the closing syntax"
**Description**
A clear and concise description of what the bug is.

**Steps To Reproduce**

Follow the steps in this blog post to create a custom widget brick https://verygood.ventures/blog/code-generation-with-mason

**Expected Behavior**

Should work fine but seems I can't create a file on Windows that has a slash in the name 🤷‍♂️😢

**Screenshots**
![image](https://user-images.githubusercontent

[2021-06-01 18:43] felangel commented on #59
Hi @YazeedAlKhalaf 👋
Thanks for opening an issue!

This is related to #56 and will be resolved via #58 shortly 👍

[2021-06-02 00:30] #56 closed

[2021-06-02 00:32] felangel commented on #59
This has been addressed via #58 and will be available via `0.0.1-dev.32`. You shouldn't need to change anything except upgrade via `dart pub global activate mason` 👍

[2021-06-02 01:15] felangel commented on #56
This should be resolved now in [v0.0.1-dev.32](https://pub.dev/packages/mason/versions/0.0.1-dev.32) 🎉

[2021-06-02 12:20] YazeedAlKhalaf commented on #59
@felangel Thanks a lot!

It works now like a charm!
btw I want to use mason to create a boiler plate generator for my apps. When I create a flutter app I always repeat certain stuff. I made a VS Code package but would like to try mason and get used to it! Do you recommend using the package for boiler plate code generation?

[2021-06-02 14:08] felangel commented on #59
Awesome! Yeah definitely! The goal was to make it easier to generate code and allow developers and teams to make their own templates based on their needs 👍

[2021-06-06 23:16] felangel commented on #57
Hi @Rodsevich 👋
Thanks for opening an issue and sorry for the delayed response! I really appreciate you bringing this up but for now I personally prefer to stick to the official mustache spec (or as close as possible) in order to enable developers to leverage existing knowledge of the templating syntax and to avoid having to maintain separate sets of documentation regarding the templating syntax e

[2021-06-07 14:24] Rodsevich commented on #57
No problem for the delay, mate. My opinion is that, if it was a replacement of the original mustache spec I would be with you, of course; but as it's an extension the ones that work with regular mustache would have all the required to do so (the documentation and the engine), and those more pragmatic ones would have the feature for improving:
- the code writing time (`{{varName_pc}}`: 12 keystroke

[2021-06-08 18:07] aadarshadhakalg opened #73 "fix: Every command runs twice"
**Description**
On executing any mason command the command is executed twice simultaneously.

**Steps To Reproduce**

1. On windows install mason globally
2. Open cmd/powershell
3. run mason --version
4. See the version is printed twice

**Expected Behavior**
The version should only be printed once.

**Screenshots**
![image](https://user-images.githubusercontent.com/19362725/121235414-971f2000-c8b

[2021-06-08 18:58] felangel commented on #73
Hi @aadarshadhakalg 👋
Thanks for opening an issue!

I'm guessing you have multiple installations of `mason`. This can happen if you run different commands to install `mason`:

`pub global activate mason`
`dart pub global activate mason`
`flutter pub global activate mason`

I recommend trying to deactivate `mason`

`pub global deactivate mason`
`dart pub global deactivate mason`
`flutter pub global

[2021-06-09 02:03] aadarshadhakalg commented on #73
Hey felangel,

Even though I was preety sure that there weren't multiple installations. I tried to deactivate and again activate it. But, unfortunately it didn't work.

![image](https://user-images.githubusercontent.com/19362725/121281092-146b8480-c8f7-11eb-9db8-bd5ee7d8c24e.png)

[2021-06-09 05:17] felangel commented on #73
@aadarshadhakalg I believe this is related to https://github.com/dart-lang/pub/issues/2934 and is not specific to `mason`. If you deactivate `mason` and you try to run `mason --version` does it still work?

[code]

[2021-06-09 09:17] aadarshadhakalg commented on #73
Yeah, it worked! Thank you @felangel  .

[2021-06-09 10:51] amebrahimi commented on #73
It helped me too. Thank you. 🙏

[2021-06-09 11:14] amebrahimi opened #75 "fix: OS Error: The system cannot find the path specified ( When brick installed globally )"
**Description**
When I install a brick globally from GitHub and try to use it I get this error.
[code]
Os: Windows-10

**Steps To Reproduce**

1. Push a brick to GitHub
2. Install the brick globally from GitHub
4. Try to run `mason make brick_name`

[2021-06-09 11:18] #75 closed

[2021-06-09 11:22] amebrahimi commented on #75
I apologize for creating this issue. I've changed my mason.yaml file from:
[code]
to:
[code]
And the issue got fixed

[2021-06-09 13:09] #73 closed

[2021-06-09 13:11] felangel commented on #75
Glad you were able to make it work! I’ll try to improve mason so that both paths work 👍

[2021-06-09 13:19] passsy opened #76 "feat: Output path"
**Description**

`mason make` creates the output in `cwd`. I'd prefer when I can specify an output dir.

`mason make --out some/path`

Additionally, the name of the output folder should be adjustable in `brick.yaml`.

[code]

So that `mason make mytemplate --id 3 --name hello --out projects` generates

`./projects/3_hello/<__brick__-files>`

[2021-06-09 13:24] felangel commented on #76
Hey @passsy 👋
Thanks for opening an issue!

I was just working on adding a configurable output path so that should be done very soon 🙂.

Regarding the dir_name in the brick.yaml I think it might be confusing because you can already define a directory and use vars directly within __brick__ template itself. Let me know what you think regarding the second point and thanks again for bringing this up 👍

[2021-06-09 14:00] passsy commented on #76
![mindblown](https://media.giphy.com/media/9SIqlPusz8iLh1IFFJ/giphy.gif)

That works of course 💙

[2021-06-10 02:39] #76 closed

[2021-06-10 02:47] felangel commented on #57
@Rodsevich thanks for sharing! I think we can leave this open to feedback from the larger community to gather more feedback. Do you have a timeline for when you plan to migrate mustachex to null safety?

[2021-06-10 13:08] Rodsevich commented on #57
The migration to NNBD is almost done, actually. I'm uploading the new version this weekend surely.

[2021-06-17 04:17] Rodsevich commented on #57
It took me some more time due to some issues now solved, it's now uploaded a [NNBD 0.1.0 version](https://pub.dev/packages/mustachex)

[2021-06-18 03:21] definitelyokay opened #85 "fix: `mason help make` doesn't show command line args in help description"
**Description**

Running `mason help make` doesn't list the args that the make command takes. _This is probably a small, unfortunate side effect of the intended behavior with bricks being subcommands._ Instead, it outputs the following in a project without any bricks:

[code]

**Steps To Reproduce**
`mason help make`

**Expected Behavior**
The following:

[code]

**Additional Context**

The proble

[2021-06-21 00:46] ggouvea-dev opened #86 "fix: When a directory inside the __brick__ has no file it is not generated by mason make"
**Description**
A clear and concise description of what the bug is.

Just create a new brick, populate the folder `__bricks__` an create a folder but dont place any file inside.
Run mason make $yourBrick

Expected:

I expected that everything inside `__brick__` was  bundled together.

Just for context, I was creating a template for dart gRPC and I would like to include the directory structure with

[2021-06-21 01:00] felangel commented on #86
Hi @ggouvea-dev 👋
Thanks for opening an issue!

Can you please provide a link to a reproduction sample? I’m not sure I fully understand the issue, thanks! 🙏

[2021-06-21 13:59] ggouvea-dev commented on #86
Thanks for the quickly reply.
I just uploaded [this](https://github.com/ggouvea-dev/gh_issue) mason repo.
There you will find the "gh_issue" brick and I also added a generated folder called "reproduction_sample" which is the result of running "mason make gh_issue".

[2021-06-23 21:07] PoloLacoste opened #87 "fix: Install bricks from a git repository"
**Description**

Installing from a git repository is not finding any bricks.

**Steps To Reproduce**

`mason i https://github.com/PoloLacoste/mason_bricks`

**Expected Behavior**

I was expecting mason to install all the bricks described by the `mason.yaml` file inside the repository.

**Result**

[code]

[2021-06-23 21:56] felangel commented on #87
Hi @PoloLacoste 👋
Thanks for opening an issue!

`mason install` requires the path to the specific brick you'd like to install. In your case it could be:

[code]

Let me know if that helps! 👍

[2021-06-23 22:05] PoloLacoste commented on #87
Thanks for your reply @felangel 😄

Okey that's what I was thinking after some time.

I think this would be a good idea to add a flag to be able to install all bricks when there is a `mason.yaml` fiile detected inside a folder.

For example a flag like `all`.

Example :

[code]

[2021-06-23 22:11] felangel commented on #87
No problem!

What if the `mason.yaml` contains references to bricks in other repositories? Would you also expect remote bricks to be installed?

[2021-06-23 22:17] PoloLacoste commented on #87
Just to be safe by default and not to have an "infinite" installation chain without really wanting it,
I would say no.

But I think a flag can allow it, `--all-remote` for example.
If you have a better idea I let you choose 😄.

[2021-06-24 04:19] #85 closed

[2021-06-24 04:30] felangel commented on #86
Hey @ggouvea-dev I took a look and opened a [pull request](https://github.com/ggouvea-dev/gh_issue/pull/1) with my suggestions. I recommend using a [.gitkeep](https://github.com/ggouvea-dev/gh_issue/pull/1) to indicate that the directory should be created and tracked by source control even though it is empty. I also made some improvements to the template structure and created a .gitignore to avoid

[2021-06-24 04:31] felangel commented on #87
@PoloLacoste is there any other CLI that behaves like this? As far as I know `pub` doesn't support this and neither does `npm`. I'd prefer to leave this out in order to keep `mason` as simple as possible while remaining consistent with other similar CLIs. Let me know what you think and thanks again!

[2021-06-24 04:39] felangel opened #90 "feat: improved support for partials"
**Description**

As a developer I'd like to be able to use partials with mason templates.

For example if we have a brick which consists of `greeting.md`

[code]

Where `include.md` looks like:

[code]

Running `mason make greeting --name Felix` should generate:

[code]

[2021-06-24 06:30] PoloLacoste commented on #87
@felangel you're right, they are not supporting this.

The way I was thinking it was the following one:

How would you install many bricks ?
For example like 10-20. One by one ?

I guess if there is a `mason.yml` file at the root of the git or folder, all the bricks inside should be installed.

I didn't want to have a chain of doom like inside npm but I guess in the future, bricks coulds depends o

[2021-06-24 13:22] felangel commented on #87
Currently it’s very similar to pub. You can use mason get (like pub get) to install all bricks in a mason.yaml but if you want to install bricks globally you specify which ones you’d like to install via mason install (like pub global activate).

[2021-06-24 21:11] definitelyokay opened #91 "refactor: Create backend and frontend for mason generator for better modularity and future enhancements"
#### Create backend and frontend for mason generator for better modularity and future enhancements

The following is a little bit of brain-storming around updating mason's architecture given that mason may eventually implement mustache partials (basically include files—see #90) and output transformers at some point.

The mason generator APIs would likely benefit from an additional layer of abstrac

[2021-06-25 04:25] ggouvea-dev commented on #86
@felangel In fact it will work because the directory will not be empty anymore but I guess it is definitely a good solution since it will also allow the versioning of the generated code from the beginning.
Thanks and keep up with the great work you've been doing with all the packages.

[2021-06-25 04:26] #86 closed

[2021-06-25 16:05] felangel commented on #91
Thanks so much for opening the issue! I think this is a create idea and just had a few minor adjustments that I want to get your  thoughts on 👇

![mason_architecture](https://user-images.githubusercontent.com/8855632/123453418-26ab1b00-d5a5-11eb-9802-9fd6ab589f18.png)

[2021-06-26 06:17] MAHakeem-MK opened #92 "fix: mason install --source path /pathofbrick not working."
**Description**
mason install --source path /pathofbrick not working.

**Steps To Reproduce**

1. mason init
2. mason get
3. mason make /pathtobrick
4. mason install --source path /pathtobrick

**Expected Behavior**
The brick is globally installed and accessible from terminal.

**Screenshots**
![Screenshot 2021-06-26 at 11 45 16 AM](https://user-images.githubusercontent.com/26372397/123503978-fc74

[2021-06-26 06:41] MAHakeem-MK commented on #92
mason version: 0.0.1-dev.27 I think that was the problem.

[2021-06-26 06:41] #92 closed

[2021-06-30 02:24] #90 closed

[2021-06-30 02:44] felangel commented on #87
@PoloLacoste going to close this for now since I want to keep things simple and avoid introducing too many new concepts that people aren't familiar. Hope that's okay with you! I'm happy to revisit this as mason matures a bit more 👍

[2021-06-30 02:44] #87 closed

[2021-07-12 03:10] Sunbreak opened #95 "feat: Support federated plugin template generateion"
**Description**

Support federated plugin template generateion

**Requirements**

- [ ] platform_interface
- [ ] Android
- [ ] iOS
- [ ] Windows
- [ ] macOS
- [ ] Web

**Additional Context**

https://github.com/flutter/flutter/issues/43284, official support is missing. Could we have one template with `mason`?

[2021-07-19 22:15] rishabhdeepsingh opened #98 "feat: mason should show what template `config.json` that is required to make a brick"
**Description**
While going through the `bricks/todos` I went through and using the install command `mason i --source path todos`
and then to make it `mason make todos`

<details>
<summary>➜ mason make todos </summary>

[code]
</details>
At this point, the user doesn't know what are all the arguments that are required not even arguments but objects. It will be great if there is some way to get to

[2021-07-23 02:24] Ascenio commented on #95
Can't we make that as a brick? I guess it's better to avoid new features when what it's currently working can do the job.

[2021-07-23 08:29] Sunbreak commented on #95
Didn't know that. I'll try. Thanks a lot~

[2021-08-07 15:35] SamuelMauricioL opened #103 "feat: add command to remove a brick"
Hi @felangel I'm starting to use **mason** and I like it!
what I haven't noticed in the documentation is a command to remove bricks.
I do not know if there is any reason why it could not be implemented but I see it convenient because so far removing a brick is manual.
Thanks for mason and good morning.

[2021-08-07 21:55] felangel commented on #95
Hi @Sunbreak 👋
Thanks for opening an issue!

As @Ascenio mentioned, there's nothing preventing you from creating a brick for a new flutter plugin. I also wanted to note that the [very_good_cli](https://github.com/VeryGoodOpenSource/very_good_cli) will soon provide support for creating a new plugin using this approach 👍

Closing for now since there don't appear to be changes in mason required to su

[2021-08-07 21:55] #95 closed

[2021-08-10 05:17] ajilo297 opened #104 "docs: Unsure of what the bundle command does."
**Description**

From the documentation and CLI help, I can understand what the `bundle` command does. But how do I use it?  Can I create a brick from a bundle? Can you provide a usage example for the bundled output?

**Requirements**

- [x] Provide usage example of bundled output.

[2021-08-10 15:09] Sunbreak commented on #95
https://github.com/woodemi/quick_flutter.brick

[2021-08-12 04:36] felangel commented on #104
Hi @ajilo297 👋
Thanks for opening an issue!

Sorry for the inconvenience but yes you can create a `MasonGenerator` from a bundle which comes in handy if you're making your own custom CLI. You can take a look at [very_good_cli](https://github.com/VeryGoodOpenSource/very_good_cli/blob/bfc532e4e4cb3d77285b39540f9dff1e7e72dc11/lib/src/commands/create.dart#L39) for an example. I'll keep this open to im

[2021-08-13 08:14] Sunbreak commented on #95
Finally I got there: https://github.com/woodemi/quick_flutter.brick/tree/0.3.0

/ | Android | iOS | Web | macOS | Windows | Linux
--- | --- | --- | --- | --- | --- | ---
APP | ✅ | ✅ | ✅ | ✅ | ✅ | ✅
plugin | ✅ | ✅ | ✅ | ✅ | ✅ | ✅
federated-plugin | ✅ | ✅ | ✅ | ✅ | ✅ | ✅

[2021-08-16 07:40] ajilo297 commented on #104
@felangel No incovenience at all. Was curious about how to use it. Figured it out from the [very_good_cli](https://github.com/VeryGoodOpenSource/very_good_cli/blob/bfc532e4e4cb3d77285b39540f9dff1e7e72dc11/lib/src/commands/create.dart#L39) example. Thanks

[2021-08-18 04:12] #104 closed

[2021-09-01 13:48] erickzanardo opened #111 "fix: mason don't validate brick path on the get command"
**Description**

When having bricks with non-existent paths in the `mason.yml` file, the `mason get` commands work fine, but then when using `mason make brick`, it gives a `Could not find brick at PATH`

**Steps To Reproduce**

Have the following `mason.yml`
[code]

Run `mason get`
Run `mason make flame_package`

You should see a `Could not find brick at` error

**Expected Behavior**
The error sho

[2021-09-07 07:14] KlausJokisuo opened #112 "fix: Generate folders without files"
**Description**
When generating folders without files, they won't be generated

**Expected Behavior**
Generate folders even when they are empty

[2021-09-07 11:37] KlausJokisuo opened #113 "feat: Conditionally create folders"
**Description**

Add possibility to conditionally create folders, similarly how mason generates code conditionally

[2021-09-07 11:38] KlausJokisuo opened #114 "feat: Run command after generating brick"
**Description**

Run command after generating brick. The command would also accept parameters.

**Description**

I would use mason to generate folder structures and generic boilerplate for Flutter applications.
I myself and quite many other people rely on some sort of code generation, so it would be great if we could run code generation after the brick content is generated.

[2021-09-07 13:42] felangel commented on #114
Hi @KlausJokisuo 👋
Thanks for opening an issue!

Can you provide a bit more context? I’m not sure I fully understand the issue. If you could provide an example as well that’d be super helpful, thanks!

[2021-09-07 17:39] KlausJokisuo commented on #114
@felangel My bad, forgot to write the description. I've updated the OP :)

[2021-09-09 17:07] Luckey-Elijah opened #115 "docs: adds list of all casing options"
**Description**

The casing options for variables should be documented for variables in bricks and their paths.

**Requirements**

* snake_case
* dot.case
* path/case
* param-case
* PascalCase
* Header-Case
* Title Case
* camelCase
* Sentence case
* CONSTANT_CASE

[2021-09-10 15:19] #115 closed

[2021-09-11 07:39] ajilo297 opened #118 "feat: Possibility to add multiple files dynamically"
**Description**

I was wondering if it would be possible to add a feature wherein we can generate files dynamically if provided as an array. This would be very useful when using mason to generate a bunch of documentation files for example.

[code]

It would have been great if we can create a brick template like this under `__brick__`
[code]

and it should be able to generate like this

[code]

[2021-09-11 11:21] MohamedAbdallah-14 opened #119 "feat: Add Append to conflict resolution"
**Description**

I would like to have the ability to append to a file that already exits, for example, I have a brick that adds function to a repository right now the work around that I generate temp file and move the function to the correct file then delete the temp file

**Requirements**

- [ ] Add Append options to conflict

[2021-09-11 14:43] felangel commented on #118
Hi @ajilo297 👋
Thanks for opening an issue.

This is already supported — you can take a look at the [todos example](https://github.com/felangel/mason/tree/master/bricks/todos). Hope that helps!

[2021-09-11 14:43] #118 closed

[2021-09-11 18:18] MohamedAbdallah-14 commented on #57
Hello @felangel
If I may say my opnion I agree with @Rodsevich simplifying the syntax can have a great outcome
I'm working with mason and created a lot of bricks and it's really hard to work with a file with many variables, and it's hell to debug
simplifying
`import 'package:{{#snakeCase}}{{app}}{{/snakeCase}}/{{#snakeCase}}{{feature}}{{/snakeCase}}/data/model/parameter/mock/{{#snakeCase}}{{name}}

[2021-09-12 11:55] eli1stark opened #122 "fix: command duplication (mason 0.0.1-dev.47)"
**Description**
Mason duplicates every command on the Windows machine.
But I have to notice that it works fine despite that issue.

**Steps To Reproduce**
1. Have Windows (I haven't tried on MacOS)
2. Have the latest mason installed
3. Execute commands as shown on the screenshot

**Expected Behavior**
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/57593530/132986555-b3e

[2021-09-12 14:13] felangel commented on #122
Hi @eli1stark 👋
Thanks for opening an issue!

I believe this is a duplicate of https://github.com/felangel/mason/issues/73. Closing for now but if you’re still having trouble feel free to leave a comment and I’m happy to continue the conversation 👍

[2021-09-12 14:13] #122 closed

[2021-09-15 10:29] Fasuh opened #123 "fix: Unable to sign in to GitHub for mason get"
**Description**
when using a commant `mason get` the package is asking me to provide username and password, but as for now logging in to github with a password is disabled and we are getting an error.

**Steps To Reproduce**

1. add mason bricks to the private repo
2. run `mason get` on a clean install
3. try to log in to your GitHub account

**Expected Behavior**
i am unsure what should happen in

[2021-09-16 14:29] felangel commented on #123
Hi @Fasuh 👋
Thanks for opening an issue!

I believe the issue is you probably cloned the github repo with ssh and the mason brick is using https or vice-versa. Can you please verify that you're providing the same git url as you're using to clone the repo? You shouldn't need to provide a password.

[2021-09-23 02:39] #119 closed

[2021-09-23 14:45] #111 closed

[2021-09-23 14:48] felangel commented on #123
Closing for now since there isn't enough information to take further action. Feel free to comment with additional questions/information and I'm happy to continue the conversation 👍

[2021-09-23 14:48] #123 closed

[2021-09-25 17:33] #103 closed

[2021-09-27 04:13] #113 closed

[2021-10-04 17:54] marcossevilla opened #140 "fix: null check operator used on a null value"
**Description**

When generating a project from a config.json file, the mason generator fails with this output:
[code]

**Expected Behavior**

Should generate correctly with config.json file specified.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional Context**
Add any other context about the problem here.

[2021-10-04 18:00] marcossevilla commented on #140
Related [felangel/mason#140](https://github.com/felangel/mason/issues/140).

[2021-10-07 17:05] marcossevilla commented on #114
hi @KlausJokisuo! We're evaluating what can be the best approach for your request and the following proposal came up.

Having an extra folder created with template files in which you can add your custom pre/post-generation scripts. The structure would look like this:
[code]
We can also support an structure where a Dart script is executed but I think it's better to have it generalized with a Bash s

[2021-10-26 17:27] felangel opened #149 "proposal: support custom scripts"
## Proposal - Custom Script Support

**Background**

As a developer who creates/maintains bricks, it's fairly common to want to execute some code either before or after generation. Currently, the only way to achieve this is to use mason as a dependency and build a custom CLI that performs the pre/post generation tasks manually ([very_good_cli](https://github.com/verygoodopensource/very_good_cli) i

[2021-11-05 21:39] felangel commented on #149
You should be able to use something like [derry](https://pub.dev/packages/derry) to manage scripts in your `pubspec.yaml` similar to a `package.json`. Hope that helps 👍

[2021-11-09 16:49] erickzanardo opened #150 "feat: Expose the template render engine to be used programatically"
**Description**

When used as a package dependency, there is no way (at least I didn't find any 😅 ) to use the template engine of mason programatically. Unless we import source files from mason (like I did [here](https://github.com/erickzanardo/quary/blob/main/lib/src/repository/snippet_repository.dart#L6))

Would be cool if mason could expose that file, so we could also use its cool template engi

[2021-11-12 22:44] #149 closed

[2021-11-12 22:44] felangel commented on #114
Closed by #149 🎉

[2021-11-12 22:44] #114 closed

[2021-11-12 23:37] felangel commented on #149
This is closed by #153 and is available in [mason v0.0.1-dev.57](https://pub.dev/packages/mason/versions/0.0.1-dev.57) 🎉

[2021-11-12 23:45] felangel commented on #150
Hi @erickzanardo 👋
Thanks for opening an issue!

If you just want to use the mustache template engine you can use [package:mustache_template](https://pub.dev/packages/mustache_template) directly rather than using mason.

[code]

Let me know if that helps 👍

[2021-11-16 12:39] passsy opened #156 "refactor: create mason_cli"
I'm using mason to ship templates with my cli. The APIs I'm using in the cli are `MasonBundle.fromJson`, `MasonGenerator.fromBundle` and `MasonGenerator.generate`.

There are dependencies in the current `mason` package that might cause unnecessary conflicts. Unnecessary because they aren't required for mason to generate templates, but only for the cli part of the package:

[code]

`mason` should b

[2021-11-16 15:40] felangel commented on #156
Hi @passsy 👋
Thanks for opening an issue!

I agree it would make sense to decouple the CLI from the generator (similar to #91). My only comments are:
- `universal_io` would still be a dependency for the generator because of the I/O and logging (stdout, stderr)
- I'm still not sure if it'd be better to rename `mason` to `mason_cli` and keep `mason` as the generator or whether to keep `mason` as the

[2021-11-16 16:29] passsy commented on #156
I prefer `mason_cli` and `mason` as the generator. Although it is a breaking change, but that is ok for version `0.0.1-dev` 😉

Alternatively `mason` and `mason_generator` would be fine too 🤷

[2021-11-22 16:26] huang12zheng commented on #112
Is there any new progress?
I think this might not be an easy question

[2021-11-22 16:35] felangel commented on #112
Haven't gotten to this yet but you can add a `.gitkeep` to the empty directory in the meantime.

[2021-11-23 16:22] huang12zheng opened #158 "feat: show correct msg when there is no mason.yam."
**Description**

* Clearly describe what you are looking to add. The more context the better.

1. there is no mason.yaml, and no use `mason add -g`
2. `mason add` show a bad err message.
[code]
---
3. ref code
[code]

**Requirements**

- [ ] show `mason.yaml not found` rather than `brick not found`
- [ ] or show use `-g` to add to global path
- [x] if there is no brick, it would still be ok.

[2021-11-23 16:31] huang12zheng opened #159 "feat: mason list could tell whether brick is local or global"
**Description**
* Current situation
[code]

*suggestion
[code]
**Requirements**

- [ ] tell whether brick is local or global

[2021-12-01 10:13] huang12zheng opened #160 "How to keep {{var.var2}}?"
**Description**
file in brick:
[code]
it would switch to as follow
[code]
I don't want to change ${{ secrets.CREDENTIAL_JSON }}

* **reproduct**
1. mason new hello
~2. remove vars in brick.yaml~
2. make vars something like var1.var2
3. change content of HELLO.md

~name: hello~
~description: A new brick created with the Mason CLI.~
~vars:~

* Fri Dec  3 13:24:18 CST 2021
- [ ] Question: Whether var

[2021-12-02 11:20] huang12zheng commented on #160
{{name}} would work. but {{var.var2}} couldn't.

it is due to
https://github.com/jonahwilliams/mustache/blob/master/lib/src/renderer.dart#:~:text=a.b.c%22.-,Object%3F%20resolveValue(String%20name)%20%7B,%7D,-for%20(var%20i
[code]
Although config {" var ": {" var2" : "{{var. Var2}}}} would be able to solve, but do you have any other good method?

[2021-12-02 11:23] huang12zheng commented on #159
In fact, if the argument is -l
Would it be clearer to show the path directly?

[2021-12-03 05:59] huang12zheng commented on #160
[code]

[2021-12-07 12:54] #160 closed

[2021-12-10 16:01] huang12zheng opened #163 "fix: add git would fail if path is null"
**Description**
[code]
if path is null, it would error.

https://github.com/felangel/mason/blob/master/lib/src/bricks_json.dart#:~:text=directory%2C%20GitPath%20gitPath)%20%7B-,final%20brickYaml%20%3D%20File(,)%3B,-if%20(!brickYaml.existsSync

**reproduction**
mason add -g --source git https://github.com/RomanticEra/bricks

**Expected Behavior**
if path is null , replace it ''

[2021-12-10 16:05] huang12zheng commented on #163
[code]
just a  suggestion, it would work.

[2021-12-10 16:22] huang12zheng commented on #163
![截屏2021-12-11 上午12 18 45 (2)](https://user-images.githubusercontent.com/28038074/145606487-1342e51f-b779-4d57-a5a0-bc5ea26fc3ad.png)

Because there are only three places, Maybe it would be good to change it as follow
[code]

or change that three places.

What's your suggestion?
@felangel

[2021-12-12 22:51] ltropin opened #165 "fix: Create template brick filename on Windows"
**Description**
I have problem with creating template file on Windows

**Steps To Reproduce**

I working in VSCode in Windows and I did next actions:
1. Create file with name `{{#snakeCase}}{{variable}}{{/snakeCase}}_bloc.dart`
2. Press Enter
3. I got directory  `{{#snakeCase}}{{variable}}{{` with file attached inside `snakeCase}}_bloc.dart`

**Expected Behavior**
Created file `{{#snakeCase}}{{var

[2021-12-12 23:08] felangel commented on #165
Hi @ltropin 👋
Thanks for opening an issue!

I believe this is working as expected (see #36). Running mason make should generate the expected output even though the slashes are treated as nested directories.

Let me know if that helps 👍

[2021-12-12 23:19] ltropin commented on #165
@felangel Wow, Windows creates a directory, but mason still recognizes it as a file and creates it using a template. Only it doesn't look very nice.

[2021-12-12 23:19] #165 closed

[2021-12-13 01:58] orenwang opened #166 "feat: a way to ignore certain files/paths in a brick"
**Description**

Hi, I wonder is there any way currently to ignore certains files/paths inside a brick?

**Additional Context**

For example, when I include some `*.lock` file inside a brick, obviously that `*.lock` file should not be included in the bundle.

Thank you for this amazing work!

[2021-12-13 16:25] felangel commented on #166
Hi @orenwang 👋
Thanks for opening an issue!

Can you provide a bit more context? Why are you including the *.lock file in the brick if you don't want it to be included in the bundle? Thanks!

[2021-12-14 01:34] orenwang commented on #166
Oh yeah... I may have made some (possibly unusual 🤔) assumptions:
1. My brick is executable, so I would simpy run the main.dart inside the brick, which brings *.lock file and build/.dart_tool directories.
OR
2. My brick is a standalone repository, which contains .git/.vscode directories.

If you don't think these are common cases, the issue can be closed for sure.

[2021-12-14 03:42] orenwang commented on #166
Also, I've made changes in my own fork and a PR (https://github.com/felangel/mason/pull/167) here. But feel free to close it if you feel it's not necessary.

[2021-12-21 20:46] Luckey-Elijah opened #169 "feat: Add optional default values to brick template"
**Description**

Currently when working with a brick template when create the metadata like this:

[code]

Perhaps we could have an option to provide a default value in the brick:

[code]

I can think of two options for how the CLI could handle it:
- User **is not prompted** for the value and will always accept the default value (probably undesirable)
- User **is prompted** for the value and can j

[2021-12-21 21:30] felangel commented on #169
Hi @Luckey-Elijah 👋
Thanks for opening an issue!

This functionality is on the roadmap and I was planning to support default values after #162 is merged 🙂

[2021-12-25 00:34] #156 closed

[2021-12-25 05:58] felangel commented on #163
This has been resolved as part of #162

[2021-12-25 05:58] #163 closed

[2021-12-25 06:04] felangel commented on #158
Hi @huang12zheng 👋
Thanks for opening an issue!

This is working as expected because mason add requires a path to a brick not a mason.yaml. You cannot `mason add` a using a `mason.yaml` and must instead pass the path to the brick (directory where the `brick.yaml` exists).

Closing for now but feel free to comment with additional questions and I'm happy to continue the conversation 👍

[2021-12-25 06:04] #158 closed

[2022-01-01 19:39] #159 closed

[2022-01-01 19:48] felangel commented on #166
Thanks for the additional details:

Why are you running the `main.dart` within the `brick`? The `brick` should only be used to store the templated code. I would recommend using `mason make` to generate code from the `brick` and then executing the generated code.

I highly recommend taking a look at how the bricks are structured at https://github.com/felangel/mason/tree/master/bricks. You can have

[2022-01-01 21:17] #150 closed

[2022-01-01 21:53] felangel commented on #150
This is now available in [mason v0.1.0-dev.2](https://pub.dev/packages/mason/versions/0.1.0-dev.2):

[code]

[2022-01-02 00:34] orenwang commented on #166
Yeah I realize the way I use it is a bit wierd. Thanks for helping!

[2022-01-02 00:34] #166 closed

[2022-01-02 07:34] Chojecki opened #183 "feat: Aliases for variables"
Great package. Thanks!

**Description**

Would be nice to have aliases for variables like:

`snake_name` =  `{{#snakeCase}}{{name}}{{/snakeCase}}`
`camelName` =  `{{#camelCase}}{{name}}{{/camelCase}}`
`PascalName` =  `{{#pascalCase}}{{name}}{{/pascalCase}}`

Sometimes I'm using the same variable in a lot of places like class where Im importing `snake_name` and using `PascalName` as class name etc.

[2022-01-02 14:27] peter-gy opened #184 "feat: .brickignore"
**Description**

When creating new bricks on a Mac, it is common that a `.DS_Store` file appears in the output, due to the fact that it is present somewhere in `__brick__`. It would be great to make it possible to specify files to be excluded from the templating. A section in `brick.yaml` could be dedicated for this, or support for a `.brickignore` file could be implemented.

Apart from the awesom

[2022-01-02 16:04] felangel commented on #184
Hi @peter-gy 👋
Thanks for opening an issue!

I believe this is a duplicate of #166. Let me know what you think, thanks!

[2022-01-02 16:47] peter-gy commented on #184
Hi @felangel,
Thanks for the swift response!

I do agree that this use case might not be worthy of any notable coding effort, as in most cases the user should be conscious about all the files lying in the `__brick__` dir. However, this is the problem with `.DS_Store`: users don't put it in the directory willingly, it is generated in the background as soon as we do some Finder navigation in the dir

[2022-01-05 05:41] felangel commented on #184
Hey @peter-gy :wave

Sorry for the delayed reply!

I would really prefer to avoid this for now because as you mentioned it's trivial to remove any unwanted files from the `__brick__` directory and in most cases a `.gitignore` will take care of this for you.

In the future I'd consider adding a `.brickignore` if there is enough demand for it but I'm not convinced it's necessary at this point.

Clos

[2022-01-05 05:41] #184 closed

[2022-01-06 14:21] passsy opened #185 "fix: files sort order"
**Description**

Running mason on CI produces a different output than running mason on my local machine. I haven't found out what exactly caused it. It could be a different dart version or a different operating system.

We have one file named `{{name}}` and on CI (linux, dart 2.12) it appear at the top of the `"files": []` list in the generated code.
On macos, dart 2.15 it appears at the very bott

[2022-01-10 22:41] MisterJimson opened #186 "feat: variable description"
**Description**

When others are using a brick you created, it would be helpful to be able to provide some descriptions for each variable to help them understand what they should put there.

When prompted to enter a value for the variable on the CLI, the description should show.

Here is an example of the output I am thinking about.

[code]

**Requirements**

- [ ] Checklist of requirements to be

[2022-01-10 23:00] felangel commented on #186
related to #183

[2022-01-10 23:01] felangel commented on #185
Planning to address this issue this afternoon, sorry for the delay!

[2022-01-12 00:35] MisterJimson opened #187 "fix: mason is init'ing into my Trash directory?"
**Description**
I was playing around with mason and I thought it wasn't working correctly, so I tried to delete the .mason directory to reset everything and start again.

Now whenever I `mason init`, it creates the `.mason` folder in my trash.

[code]

**Steps To Reproduce**

I'm not sure of the exact steps to replicate. Something related to deleting .mason and running mason init

**Expected Behav

[2022-01-12 00:50] felangel commented on #187
Hi @MisterJimson 👋
Thanks for opening an issue!

Are you able to share a screen recording? Are you sure you’re not currently in the Trash when running mason init? Thanks!

[2022-01-12 04:55] #185 closed

[2022-01-12 15:02] MisterJimson commented on #187
I think I am getting closer to a reprod case.

Something close to.

[code]

I'll followup when I can reproduce with exact steps. Seems like something that could happen often if folks are testing bricks with `make` and then trashing them.

[2022-01-12 15:55] felangel commented on #187
Sounds good, I'll mess around as well and see if I'm able to reproduce.
Can you please share what version of `mason_cli` you're using as well as what OS you're on? Thanks!

[2022-01-15 06:23] #169 closed

[2022-01-15 06:23] #186 closed

[2022-01-15 10:06] huang12zheng commented on #158
* some instructions about issue
Through, It's been a problem for a long time.
I think I said 'Mason add '/Users/huangzheng/very_good_cli/example/vscode_dart_extension/bricks/groovin_core''
It has brick paths.

* more instructions about why bug
error due to cli can't find mason.yaml, rathor than brick.yaml.
But it tall me, there is no bric

[2022-01-18 01:54] rodrigobastosv opened #195 "error with brick with configurable variables fix:"
I'm getting this error

`Malformed brick.yaml at /home/rodrigo/Documents/development/projects/vizo/a/bricks/hello/brick.yaml
Unsupported value for "vars". type 'YamlMap' is not a subtype of type 'List<dynamic>?' in type cast`

while trying to make a brick with configurable variables.

This brick https://github.com/felangel/mason/pull/191/files#diff-84397bfdeb65489b7aa13e101f4a893af93f6acde0181cf6c

[2022-01-18 01:56] felangel commented on #195
Hi @rodrigobastosv 👋
Thanks for opening an issue!

This functionality hasn’t been published yet so if you want to use it you’ll need to install mason from git. Hope that helps 👍

[2022-01-19 00:29] XavierChanth opened #196 "fix: DirectoryGeneratorTarget using FileConflictResolution.skip never writes files"
**Description**
A clear and concise description of what the bug is.

When using FileConflictResolution.skip for a DirectoryGeneratorTarget, the overwrite rules are written in such a way that the file will never be created.

**Steps To Reproduce**

1. Create any mason dart bundle.
2. Create a MasonGenerator using the bundle.
3. Create a DirectoryGeneratorTarget with the fileConflictResolution set t

[2022-01-19 00:58] #195 closed

[2022-01-19 02:26] #196 closed

[2022-01-20 01:57] felangel commented on #187
@MisterJimson hey is there any update on this? I was unable to reproduce the issue locally.

[2022-01-20 15:32] MisterJimson commented on #187
I'll reopen with steps If I can consistently reprod. Thanks for taking a look.

[2022-01-20 15:32] #187 closed

[2022-01-25 01:15] passsy opened #211 "fix: slash (/) in variable is encoded"
**Description**
Adding a slash to a value of a variable writes `&#x2F;` into the file instead of `/`

**Steps To Reproduce**

[code]
[code]

Result:

[code]

Expected Result:
[code]

`mason_cli 0.1.0-dev.6`
`mason 0.1.0-dev.4`

[2022-01-25 01:18] felangel commented on #211
Hi @passsy 👋
Thanks for opening an issue!

You can use `{{{packagePath}}}` if you want the value to be unescaped. Let me know if that helps 👍

[2022-01-25 01:49] #211 closed

[2022-01-25 16:09] Fasuh opened #213 "docs: Update the documentation for Windows compatible lambdas"
**Description**

I have found an old issue [#59](https://github.com/felangel/mason/issues/59) where lambdas for Windows were fixed, but it is nowhere to be found in the current documentation.

**Requirements**

- Clear description on how to use lambdas on Windows

[2022-01-25 22:49] felangel commented on #213
Hi @Fasuh 👋
Thanks for opening an issue!

#59 was fixed and did not require any changes to be made to lambda usage which is why there is no mention of it in the docs. Is there something that you're still having trouble with?

[2022-01-26 21:12] felangel opened #215 "[proposal] feat: support brick template extensions"
# Proposal: Brick Template Extensions

## Description

As a developer, I want to be able to compose bricks from other bricks so that I can simplify, reuse, and reduce the maintenance cost of bricks.

For example, suppose we are maintaining a Flutter app brick called `my_flutter_app` which builds on the standard `flutter create` template. Currently, we must duplicate and keep up-to-date the entire

[2022-01-26 22:31] XavierChanth commented on #215
Hi @felangel

The proposal looks great! This definitely fits my needs for at_app.
One thought would be on handling variable inheritance:

Let's say that `super_brick` has variable `foo`.
In my `sub_brick`, is there a way to define a value for `foo` without requiring it as an input variable when generating the `sub_brick` template? As in, can I define a value for `foo` within the `sub_brick` templa

[2022-01-26 23:13] felangel commented on #215
Hi @XavierChanth 👋

That's great to hear 🚀

In my sub_brick, is there a way to define a value for foo without requiring it as an input variable when generating the sub_brick template? As in, can I define a value for foo within the sub_brick template, rather than requiring input for it?

One way to address that would be to use reusable blocks in the base template. For example if we had `main.dart`

[2022-01-27 02:52] ignertic opened #218 "feat: support disabling update check"
**Description**
Mason Cli keeps prompting to update whenever there is a new release. Automated tasks that invoke the mason_cli in a terminal hang whilst waiting for the developer to either choose yes/no to the update.

**Steps To Reproduce**

1. Wait for a new release of mason_cli
2. Create a bash script that invokes mason to generate a new brick
3. Run Script
4. Notice update prompt awaits input

[2022-01-27 03:01] ignertic commented on #215
Looking forward to this feature.

I am most excited about the brick registry as I have had to depend on github to source control my brick templates. The ability to choose a specific template version is GOLD! One can now advance a brick without breaking other bricks depending on it

[2022-01-27 17:31] Fasuh commented on #213
Hi @felangel
my problem is, that i cannot make a file with symbols `/` and `\` in their names.
Which makes me unable to use those mentioned on the `pub.dev` page
![image](https://user-images.githubusercontent.com/39801418/151412100-d85584d9-3a23-44f8-8d90-d5690d6e6446.png)

![image](https://user-images.githubusercontent.com/39801418/151411829-e232a182-5ca3-41d3-a4d4-2da7dbd8ad6a.png)
![image](http

[2022-01-28 03:36] #218 closed

[2022-01-28 03:51] felangel commented on #218
This should be resolved in [mason_cli v0.1.0-dev.8](https://pub.dev/packages/mason_cli/versions/0.1.0-dev.8) 🎉

[2022-01-28 14:22] XavierChanth commented on #215
I would prefer this feature, but I think both are a candidate depending on the use case.

[2022-01-30 08:09] mtwichel commented on #215
Hey @felangel 👋

So excited to see this feature! Just a few quick clarifying q's I thought of:
1. > When a brick B which requires variables {x, y}, extends brick A which requires variables {x, z}, variables {x, y, z} are required when generating brick B.

What happens when two bricks share the same variable name (in this case x), but have different types associated with it (ie brick A it's a strin

[2022-01-31 13:35] alestiago commented on #57
As the "feedback is wanted" tag is added I'll give my opinion about it.

As far as I am concerned, the decision to include a dependency on `mustachex` mainly depends on improving the lambda expression syntax.

I usually dislike the idea of introducing dependencies. Unless there is a highly valid reason to include it. If so, I think we should ensure the dependency will not hinder the development du

[2022-02-01 09:47] alestiago commented on #215
This looks very promising! I really like the proposal!

I wonder if besides `{{<super}}` perhaps having the concept of `imports` and `sections`, similar to `include` in [Blade Template](https://laravel.com/docs/8.x/blade#including-subviews), or also to `template` and `macros` in dart doc, could be a more flexible approach.

Besides that, I think the "Hook Execution" feels natural.

In addition, I

[2022-02-01 09:58] alestiago commented on #183
I think this could be very useful and interesting to play with. What implementations do we have in mind?

I can think of having a file preamble (similar to LaTeX) where one defines the constants could be a possible implementation. Or alternatively having some syntax that allows declaring variables in any part of the file.

[2022-02-01 10:50] Chojecki commented on #183
Was thinking about defining vars in `.yaml` file, but all ideas sounds good.

[2022-02-03 03:42] Luckey-Elijah commented on #213
I wonder if enclosing the file name in `"` will work for windows you. I don't use windows anymore so I'd have to ask you to try it it out for me. For example try entering: `"{{snakeCase}}{{name}}{{/snakeCase}}"`in Window explorer or Intellij.

[2022-02-03 05:23] Srunels commented on #215
Shanna whaley 9182401838 cellular phone
Proposal feast microcelllar reconstruct with spullara
"If fire is luiqud in space" then maybe from the mouth of the babe creates microcelllar misfuntion
List a. time
List P.. telephone
List B.blank page left blank intentional

Hope it make sense let me know .. January 02-22 11:22 pm

[2022-02-03 22:50] Srunels commented on #183
Dart = {{#mason}}{{zackary}}{{/mason}}
Mason = {{#183}}{{zackary}}{{/able}}
Able = {{#183}}{{zackary}}{{/mason}}

[2022-02-03 23:01] felangel commented on #183
Curious if you all think these issues would be resolved if there was an alternative syntax for lambdas like:

[code]

[2022-02-03 23:37] Srunels commented on #183
I was curious.. to think mason wasn't the correct name because I do know
the first child to the 2nd child think of it like this mason is zackary
older brother  and since zackary is younger I thought that can't be right
if zackary mother wasn't sub ...

shannawhaley

On Thu, Feb 3, 2022, 5:01 PM Felix Angelov ***@***.***> wrote:

[2022-02-04 08:34] Chojecki commented on #183
Ye, defo more clean and readable

[2022-02-04 10:32] Fasuh commented on #213
That doesnt work, `/` is a system character used to split folders, it cannot be used at all
![image](https://user-images.githubusercontent.com/39801418/152514121-bc27c29e-aa04-4359-8831-48b48809fca2.png)

[2022-02-07 15:56] jsroest commented on #213
For windows, you need a subfolder to handle the forward-slash `/`.
You might want to have a look at this:
[Allow {{#snakeCase}}{{var_name}}{{/snakeCase}} to be used in files and folders #36](https://github.com/felangel/mason/issues/36)

[2022-02-09 03:40] felangel commented on #213
@Fasuh closing for now since @jsroest's comment is accurate. Also check out #183 for future improvements to make this more convenient.

[2022-02-09 03:40] #213 closed

[2022-02-16 14:27] lukepighetti commented on #57
Just wanted to leave a few thoughts on this thread

1) The use of `/` in filenames is problematic. Does it work? Yes. But the file names are ugly and it makes git diffs look really weird. It requires explanation and time invested to understand and troubleshoot, then you have to document the behavior. *This behavior is confusing to most people*

<img width="495" alt="Screen Shot 2022-02-16 at 9 17

[2022-02-16 14:45] felangel commented on #57
Thanks for the feedback and I totally agree with most points. The only thing I’d challenge is the piped syntax since apparently pipes are [not considered safe to use in file names](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file).

The following are reserved characters:
< (less than)

: (colon)
" (double quote)
/ (forward slash)
\ (backslash)
| (vertical bar or pipe)
? (questio

[2022-02-16 15:13] lukepighetti commented on #57
I just pushed up a PR, feel free to change the pipe character or request any changes https://github.com/felangel/mason/pull/237

[2022-02-16 15:23] felangel commented on #57
Thanks will take a look!

[2022-02-21 22:58] Fasuh opened #265 "feat: Brick generating bricks"
**Description**

I'd like to have a brick, which generates bricks. Those inner bricks have their own variables, separate from the main brick, and also have some variables which the main bricks injects inside them.

Right now when i try to make a brick like that, everything goes smoothly until it reaches a filename with lambdas and a variable.
(screenshot)

I think it would be nice to have a way of

[2022-02-21 23:01] felangel commented on #265
Hi @Fasuh 👋
Thanks for opening an issue!

You should be able to use `{{{my_variable}}}` to indicate it should be unescaped. If that doesn't help it would be great if you could provide a link to a minimal reproduction sample, thanks! 🙏

[2022-02-21 23:50] Fasuh commented on #265
Hi, should i use it as
`{{{ {{#snakeCase}}{{name}}{{/snakeCase}} }}}` ?

[2022-02-21 23:51] felangel commented on #265
No you should be good to just use:
`{{#snakeCase}}{{{name}}}{{/snakeCase}} `

[2022-02-21 23:53] Fasuh commented on #265
if i enter that in a file and generate it it just returns an empty file

[2022-02-21 23:54] felangel commented on #265
Can you provide a link to a minimal reproduction sample that illustrates the issue with some reproduction steps?

[2022-02-21 23:59] Fasuh commented on #265
i just composed a repo for that
https://github.com/Fasuh/test_repo_mason
if you run `mason make test` it will generate an empty file `test` despite it having an escaped variable

[2022-02-22 00:00] felangel commented on #265
Thanks I’ll have a look shortly 👍

[2022-02-25 13:46] felangel commented on #265
@Fasuh can you provide a bit more context regarding what you’re trying to achieve?

[2022-02-25 16:24] Fasuh commented on #265
Of course, i'd like to have a project template brick which i'd hold on my git repository, this brick would contain all of our dependencies and stuff we require to start the project, this brick takes arguments i.e. project name.

This brick would also be responsible for making local bricks folder. This folder contains our local bricks which should always be saved per project because they could chan

[2022-02-26 03:31] yeikel16 opened #276 "feat: reverse engineering a bundle"
**Description**
Reverse engineering a bundle having the original template as a result.

**Additional Context**
I have been using `very_good_cli` for a while now and recently I found a small bug, which I wanted to correct, but I stumbled that the teamplate that had the bug is packaged in a bundle, my question would be if it is possible to create a brick template starting from a previously created b

[2022-02-26 06:11] felangel commented on #276
Hi @yeikel16 👋
Thanks for opening an issue!

We can add an unbundle command which will convert a bundle to a brick template. The functionality is already implemented in package:mason and just needs to be exposed via a new command. I’ll aim to have this done in the next few days 👍

Sorry for the inconvenience and thanks for your contribution! 💙🙏

[2022-02-26 11:02] yeikel16 commented on #276
That's good news, thanks

[2022-03-19 09:10] aaongr opened #304 "fix: mason make - does not replace {{vars}} in only one of the files - why?"
Hello,
A wonderful and amazing day for all of Us :)

First of all I would like to express my gratitude for this amazing tool and for all the other great stuff that you have made
I started to use the mason and I have a strange behaviour

**Description**
In my mason project (https://github.com/itgaia/itg_mason) I am using the `{{#snakeCase}}{{name_plural}}{{/snakeCase}}` in all of the files under `_

[2022-03-22 18:25] mokamhawy commented on #304
Same here.
file names are the only ones replaced but inside dart files code no replacing

[2022-03-23 06:53] aaongr commented on #304
Dear felangel,
An amazing and wonderful new day for all of us

I would like to assist you in the development of this amazing package (and others)...

Can you please tell me how can I do this?
Is there a working space for collaborating, discussing things to be done, and assigned tasks, and monitor progress?
It could be my honour if you accept my offer.

Thank you again for all those amazing things

[2022-03-23 09:05] radomir9720 opened #309 "feat: ability to generate several bricks at once with one command"
**Description**

Now, to generate several bricks you need to enter several times the command `mason make ...`.

For example:
`mason make brick1 -o ../lib`
`mason make brick2 -o ../lib`
`mason make brick3 -o ../lib`
And so on...

I think it would be great to have the ability to run one command like `mason make "brick1,brick2,brick3"`, and, maybe, something like `mason make -all` which will generate

[2022-03-23 13:57] felangel commented on #309
Hi @radomir9720 👋
Thanks for opening an issue!

Can you please provide a bit more context regarding what these three bricks are? Would it be beneficial to either have a template that contains all the relevant parts of each template (if they are always used together) or per #215 would it help to be able to have templates that can extend other templates?

The main issue I see with make all is how wo

[2022-03-23 18:37] radomir9720 commented on #309
Let's say that i want to instal three completely independent bricks:

1. Theme, and everything that is related to it
2. Firebase helper classes(like `CrashlyticsHelper`, for example)
3. Other packages helper classes. For example, `DeviceInfoHelper`.

And, in my opinion, there may be projects, where i won't use `DeviceInfoHelper`, therefore i don't want to generate code for it.

Hmm, i didn't think

[2022-03-24 10:33] aaongr commented on #304
The problem exists in those 2 lines of code:
[code]
and
[code]
The actual problem is the `{{{`, one from the content and the other 2 from the `{{#snakeCase}}{{name_plural}}{{/snakeCase}}`

Can I instruct, somehow, mason to treat the first one ({) as a text and not as a special character?
Like escaping in regex....

[2022-03-24 13:06] orestesgaolin opened #310 "feat: update bricks from remote source"
**Description**

As user I'd like to be able to update all of my global bricks that come from git with one command, similarly to how `brew upgrade` works. Currently to update a given remote brick I need to install it again.

This could look like:

[code]

**Requirements**

- [ ] Ability to update all the global bricks that were installed from git or other remote source

[2022-03-24 20:42] lukepighetti opened #311 "Hooks are too complicated for simple tasks"
Hooks are too complicated for simple tasks. Let's say you want to run `task get gen -f` in a directory created by Mason post-gen, and display the output, the most straightforward solution is:

[code]

Ideally there would be a `hooks` field in brick.yaml, which might look like this

[code]

[2022-03-24 20:43] lukepighetti commented on #311
Also, as a side note, it was not clear to me that we need pubspec.yaml for these hooks and it failed silently with no warnings.

[2022-03-24 20:54] felangel commented on #311
Hi @lukepighetti 👋
Thanks for opening an issue!

We discussed this early on and decided it was too limiting of an API. For example, if you wanted use the logger to prompt for additional input, compute variables based on static code analysis, etc what would that look like with the hooks field within the `brick.yaml`?

That's definitely a bug and I'll take a closer look to make sure that gets resolv

[2022-03-24 20:56] lukepighetti commented on #311
Perhaps both methods can coexist

[2022-03-24 20:59] felangel commented on #311
Just to clarify, are you suggesting to support both APIs and throw a runtime exception if a hook is registered multiple times?

[2022-03-24 21:01] lukepighetti commented on #311
You could do that, or let both run, giving priority to one of them.

Somewhat unrelated, do you happen to know if there's a better way to pipe output to the console than `await process.stdout.transform(utf8.decoder).forEach(print);` ?

[2022-03-24 21:03] lukepighetti commented on #311
Woop found it, thanks. `await process.stdout.pipe(stdout);`

[2022-03-24 21:04] lukepighetti commented on #311
I'm going to close this, thanks for the fast triage.

[2022-03-24 21:06] felangel commented on #311
@lukepighetti no problem! You can also use `Process.run` like:

[code]

If you want to use the logger from `package:mason_logger` you can use `context.logger` like:

[code]

Hope that helps 👍

[2022-03-24 21:07] lukepighetti commented on #311
Thanks, just for context, I chose to stream it because get/gen takes a long time and we wanted to show the progress in realtime

[2022-03-24 21:08] felangel commented on #311
Ah yeah that makes sense 👍
I'll work on improving the error when hooks don't have a `pubspec.yaml`.

[2022-03-25 16:57] lukepighetti commented on #311
Generating with hooks would be nice. Easier to delete than it is to create

[2022-03-25 17:07] felangel opened #313 "feat: mason new command should support generating hooks"
**Description**

As a developer, I want to have hooks generated as part of a brick via the `mason new` command so that I don't need to manually configure hooks from scratch each time.

[code]

[2022-03-25 17:08] felangel commented on #311
I created https://github.com/felangel/mason/issues/313 to track this. Let me know if you have suggestions/feedback regarding the proposed usage.

[2022-03-28 12:35] aaongr opened #314 "fix: Hooks - Could not find a command named "{"name":"aaon"}"."
Hello,
What a Wonderful World is the One that we live in :)

In my mason project (https://github.com/itgaia/itg_mason), I want to use the hooks functionality
I created a new brick template for testing the hooks, `test_template`

    mason new test_template -o ./bricks

mason.yaml
[code]

bricks/test_template/brick.yaml
[code]

    mason get
    mason list
    mason make test_template --name TestAp

[2022-03-31 17:38] Luckey-Elijah opened #317 "docs: Add which paths can and should be excluded from version control"
**Description**

These files **should not** be tracked in version control:

- `.mason/`

If you are _only_ using local bricks, these files **should not** be tracked in version control:

- `mason-lock.json`

**Requirements**

- [x] Include section in README that lists `mason_cli`-generated files that can be excluded from version control

[2022-04-02 09:47] Pierre2tm commented on #57
I agree that the {{#case}}{{var}}{{case}} is a pain to write.

I think {{var|case}} is already way better.

What do you think about using implicit cases for variables?
Var name should be case insensitive and output case is determined based on case type you've used to reference the variable:
given variable myVar: "myVarValue"
{{myVar}} => "myVarValue"
{{MyVar}} => "MyVarValue"
{{my_var}} => "my_var

[2022-04-02 13:04] Rodsevich commented on #57
@Pierre2tm wouldn't that force you to have 2+ words variables names?
How would you command some `name = 'pierre rodsevich'` to be rendered as 'Pierre Rodsevich' somewhere, 'pierre_rodsevich' in another place and 'pierre-rodsevich' somewhere else?

[2022-04-02 13:44] Pierre2tm commented on #57
[Rodsevich](https://github.com/Rodsevich) My bad you're right. That's not a good idea 😅.

[2022-04-04 05:06] #317 closed

[2022-04-04 15:30] lukepighetti commented on #311
I'm going to reopen this because the complexity added to a project by having a new dart package for every set of hooks for every template is extreme. Said another way

If hooks were command line tasks, it would be
  - cheap to hook a command line task
  - expensive to hook a dart tool

If hooks were dart tasks, it would be

- expensive to hook a command line task
- expensive to hook a dart tool

[2022-04-04 17:20] felangel commented on #311
@lukepighetti thanks! What are your thoughts on having hooks support dart and shell scripts? In this case you’d be able to define post_gen.sh instead of post_gen.dart within the hooks directory.

[2022-04-04 21:56] lukepighetti commented on #311
That would be fine

[2022-04-04 22:10] felangel commented on #311
Yeah that would work. I'm not sure how a shell script would be able to modify the current environment variables (and other properties available on the HookContext in a Dart script).

[2022-04-05 18:02] aymswick commented on #304
I've also just come across this - for some reason a specific template under my `app/test` folder fails to interpolate even a single instance of `{{name}}`. I suspect I am writing invalid syntax somewhere, but I searched and don't have the same `{{{` (3 curly brackets) problem @aaongr described above. Will continue to investigate.

[2022-04-06 03:36] felangel commented on #314
Hi @aaongr 👋
Thanks for opening an issue!

Did you run `mason add` to install the brick? Are you able to share a screen recording that illustrates the steps you're taking? Thanks!

[2022-04-06 13:00] DFelten opened #323 "fix: VSCode Invalid file path for bricks -32003"
**Description**

When opening a brick VSCode and the dart extension has problems with the file.

**Steps To Reproduce**

1. Create brick templates
2. Open file with VSCode

**Expected Behavior**

No error output should appear in VSCode when opening a brick file.

**Screenshots**

folder structure

![CleanShot 2022-04-06 at 14 53 21](https://user-images.githubusercontent.com/1169185/161979046-4a235

[2022-04-06 13:30] wolfenrain opened #324 "feat: support for enum variables in a brick"
**Description**

As a user, I would like to be able to have variables that can only be one of a list (like an enum).

Currently a user have a variable of type string and then have a hook that validate if the variable value is contained in a list. This requires users to write hooks (in Dart) which is not user-friendly for a semi-simple feature.

A proposal of enum support could be:
[code]

Enum var

[2022-04-07 00:26] felangel commented on #324
This is something I've been wanting to support as well so I'm glad you brought it up! I think the first step will be defining the API for the mason_logger to support providing the user with options of which they can select only one. One idea would be to support it via the prompt api like:

[code]

Another option would be to introduce a new public method specifically for providing choices.

Let me

[2022-04-08 21:25] Luckey-Elijah commented on #313
Could support for a `.gitignore` be generated with the `hooks/` directory?

I find myself excluding the following — (_[for example](https://github.com/Luckey-Elijah/bricks/blob/main/.gitignore#L2-L4)_)
- `.packages`
- `pubspec.lock`
- `.dart_tool`

[2022-04-08 21:32] felangel commented on #313
yup good call!

[2022-04-08 22:33] Luckey-Elijah opened #329 "feat: Checkbox and radio select methods for mason_logger"
**Description**

I really like the idea of the menu select methods for single and multi-select option. An API like this would be nice:

[code]

**Requirements**

- [ ] `Logger.radio` method
- [ ] `Logger.checkbox` method

**Additional Context**

Created for requirement in #324

[2022-04-08 22:34] felangel commented on #329
cc @wolfenrain

[2022-04-09 05:48] #313 closed

[2022-04-09 23:52] #57 closed

[2022-04-09 23:52] #183 closed

[2022-04-10 11:52] wolfenrain commented on #329
Thanks for providing a proposal API! That looks awesome!

I am currently working on a PoC for adding support for #324 in the Logger and I think these APIs would fit the same solution quite well.

[2022-04-14 09:32] aaongr commented on #314
Dear @felangel,
A wonderful and amazing day for all of Us :)

No I did not run `mason add` (should I have run it?)
I am not sure how should I use the `mason add`, it is not very clear to me...
Can you give me an example?

If `mason add` adds the brick to the mason.yaml, I done it by my self, editing the `mason.yaml`
[code]
Then I edited the `brick.yaml'
[code]
Then I run:
[code]
and the `make` com

[2022-04-18 12:48] DFelten commented on #323
With the new shorthand lambda syntax it's working without the error :)

[2022-04-18 12:48] #323 closed

[2022-04-27 06:57] michalgauza commented on #314
@aaongr have you find solution for this? :)

[2022-04-27 08:16] aaongr commented on #314
Dear @michalgauza ,
unfortunately I did not find yet the time to work with it...
So no...
I am sorry...

[2022-04-27 08:17] michalgauza commented on #314
@aaongr ok, thanks for response :)

[2022-04-28 07:43] michalgauza commented on #314
Hi m@felangel, maybe you have idea what i'm doing wrong?
My path:
1. create brick with mason new test
2. add brick with `mason add test --path test`
3. add hooks files (copy from https://github.com/felangel/mason/blob/master/bricks/hooks/hooks/pubspec.yaml and change in pubspec.yml `hooks_hooks` => `test_hooks`)

files:
pubspec.yaml:
[code]

HELLO.md
`Hello {{name}}!`

post_gen.dart
[code]

pre_ge

[2022-05-06 12:29] Dardila11 commented on #112
In addition, a post gen hook can be added to remove all .gitkeep files

[2022-05-11 16:15] felangel commented on #314
Can you share a link to a minimal reproduction sample?

[2022-05-12 05:32] michalgauza commented on #314
@felangel I tried everything again (install mason) and use hook brick from your samples and then this error happened. But now I decided to do everything once again and this time it's works! Only difference is the way I install mason. When via brew => errors, when via dart pub global => works! I'm using macOs Montrey 1.0.12.
@aaongr Have you also try this? :)

[2022-05-13 18:15] GroovinChip opened #355 "feat: `--dry-run` for `mason publish`"
**Description**

It would be nice if the `publish` command had a `--dry-run` option so that any issues can be addressed safely prior to publishing. For example: I just went to publish my first brick, and the command errored out because I didn't add the `repository`field.

**Requirements**

- [ ] Add a `--dry-run` option to the `publish` command, similar to `flutter pub publish --dry-run`

**Additi

[2022-05-17 04:17] #310 closed

[2022-05-20 19:04] felangel opened #361 "feat(mason_logger): enhance progress API"
**Description**

As a developer, I want to be able to complete, fail, and cancel progress calls via `Logger` so that I can provide a better user experience to developers.

[code]

**Additional Context**

To maintain backward compatibility we can implement `call()` and proxy to `complete` -- in the future, we can deprecate `call`.

[2022-05-20 19:17] felangel opened #362 "fix(mason_logger): err should write to `stderr`"
**Description**

Calls to `Logger().err(...)` should write to `stderr`.

[2022-05-25 20:27] #265 closed

[2022-05-28 13:56] craiglabenz opened #366 "feat: Allow global use of `mason make` with discoverable mason.yaml"
**Description**

Currently, a developer has to run all of their `mason` commands from within the single folder containing their global `mason.yaml` file. This prevents creating a new directory, navigating into it, and running `mason make <whatever>` to generate code directly at that location.

Allowing developers to set a `MASON_HOME` environment variable (or similar) would enable `mason_cli` to o

[2022-05-28 14:35] felangel commented on #366
Hi @craiglabenz 👋
Thanks for opening an issue!

This is already possible 🎉
Just use `mason add -g` to install the brick globally and you can use `mason make` In any directory on your machine.

Hope that helps!

[2022-05-28 17:38] mugbug opened #367 "docs(question): how to disable variable replacement"
**Description**

Is there a way to avoid a `{{ secrets.GITHUB_TOKEN }}` string to be understood as a variable and replaced? I wanted to create a template that has a GitHub Actions workflow file but can't figure out how to avoid the `${{ secrets.GITHUB_TOKEN }}` string to be changed to just `$`

[2022-05-28 17:44] felangel commented on #367
Hi @mugbug 👋
Thanks for opening an issue!

You can use the `mustacheCase` lambda for that:

[code]

Let me know if that helps 👍

[2022-05-28 18:01] mugbug commented on #367
Hey @felangel! Thanks for the quick reply!

Hm, the `mustacheCase` just seems to have the same result as using a the `{{` tags. Still getting `{{ secrets.GITHUB_TOKEN }}` completely removed. Any thoughts?

Some info that might help:
- `mason --version == 0.1.0-dev.25`
- my bricks are local (not using github url or mason hub)

[2022-05-28 18:13] mugbug commented on #367
Hmm, it seems to be missing a release with this one for `mason_cli` https://github.com/felangel/mason/commits/master/packages/mason_cli, I'll try to just install it from master to try out!

[2022-05-28 18:24] #361 closed

[2022-05-28 18:29] mugbug commented on #367
Using `master` now it worked like a charm! Thanks a lot @felangel!

[2022-05-28 19:47] felangel commented on #367
Just published a new release of mason_cli so you should be able to `dart pub global activate mason_cli`

[2022-05-28 19:54] mugbug commented on #367
Awesome, thanks!

[2022-05-28 19:54] #367 closed

[2022-05-30 15:11] mugbug opened #375 "feat(vscode): support creating files from bricks through vscode extension"
**Description**

Today we have a `mason` vscode extension that supports managing bricks (like adding, removing, etc).

I think this extension could be even more powerful if it supports consuming the bricks to generate files directly through the vscode interface.

**Requirements**

- [ ] Add support for mason's `make` command through vscode interface.

**Additional Context**

The idea is to achieve

[2022-05-30 19:10] felangel commented on #375
Hi @mugbug 👋
Thanks for opening an issue!

I’m actively working on this and am aiming to have an initial version available sometime this week 🙂

[2022-05-30 20:01] mugbug commented on #375
Wow, awesome! Thanks again @felangel! And let me know if I can help in any way with this =]

[2022-05-31 10:26] alestiago opened #377 "feat: allow specifying the type of encoding when generating"
**Description**

It would be great if as a developer, I am able to easily specify the type of encoding the template should be using.

**Requirements**

- [ ] Allow specifying the type encoding
- [ ] Documentation that outlines how to do the above

**Additional Context**

This might be particularly useful when defining custom hooks with particular encodings.

[2022-05-31 12:56] felangel commented on #377
Hi @alestiago 👋
You can encode the content however you’d like and use triple mustache brackets to render the raw content: `{{{ my_var }}}`

Let me know if that helps

[2022-05-31 13:25] felangel commented on #377
In mustache:

I don’t think mason should override this as it’s part of the mustache spec

[2022-05-31 15:09] alestiago commented on #377
Closing the above.

Due to https://mustache.github.io/mustache.5.html and https://github.com/jonahwilliams/mustache/blob/c4344e0dd45f6605758eb11aa4837859e2c055f0/lib/src/renderer.dart#L256.

[2022-05-31 15:15] alestiago opened #378 "feat: support non-top-level partials"
**Description**

Allow partials to be placed elsewhere than under `__brick__` directory.

**Requirements**

- [ ] Allow partials not under `__brick__`

[2022-05-31 20:25] Luckey-Elijah opened #379 "feat: add brick search/lookup to `mason_cli`"
**Description**

Add a mason CLI command to search registered bricks on `brickhub.dev`.
[code]
That will return identical results from the `https://brickhub.dev/search?q=` query.

**Requirements**

- [x] Add a `MasonApi().search(String query)` method
- [x] Add a Search Result model to `mason_api`
- [x] Add `search` command
- [x] `search` command will return an abbreviated list of `brickhub.dev` se

[2022-05-31 20:34] felangel commented on #379
Hi @Luckey-Elijah 👋
Thanks for opening an issue!

Out of curiosity is there an analogous command for `pub`, `npm` or any other package manager that you're aware of? Thanks!

[2022-05-31 20:55] Luckey-Elijah commented on #379
Perhaps for "one-line" results, just 10 results — keep it identical to the `brickhub.dev` search results for now.

And maybe provide a flag to query more.

[code]

[2022-05-31 20:57] felangel commented on #379
Seems reasonable to me.

Just out of curiosity what made you request this feature? Is it more convenient to use the CLI for search?

[2022-05-31 21:02] Luckey-Elijah commented on #379
I'm just familiar with searching packages in the terminal via `brew search` and seemed natural to have a search feature for mason 😄.

I don't search brickhub.dev frequently but there's been about 3 or 4 occasions I would have preferred to stayed in the terminal (less key strokes)

[2022-05-31 21:17] felangel commented on #379
Thanks for providing some additional context! I'm fine with you working on this but I think I'll need to expose the search API via `package:mason_api` since the core api is not publicly documented at the moment and we shouldn't scrape brickhub.dev for search results.

[2022-06-01 16:11] alestiago opened #382 "feat: allow importing local files in hooks"
**Description**

Allow importing local hook files in `pre_gen.dart` and `post_gen.dart`.

**Requirements**

- [ ] Allow importing local files in hooks.

**Additional Context**

Useful for complex hooks and for sharing logic between them.

[2022-06-02 23:27] wolfenrain opened #384 "feat: `mason bundle` should be able to watch a brick"
**Description**

As a developer I want to be able to watch a brick directory and have it rebundle whenever something in the brick changes.

This would allow for quicker testing of code that depend on mason bundles.

**Requirements**

- [ ] extend current bundle command so it can watch a brick and rebundle it to the given output
- [ ] Ensure this feature works on all platforms

**Additional Context

[2022-06-03 14:12] bartekpacia opened #385 "fix(mason_logger): Allow for printing when `Progress` is running"
**Description**

When something is printed to the terminal while `Progress` is running, the progress line is duplicated. It doesn't look good.

I unfortunately don't have time to create reproducible example, it's fine if you close this because it's not reproducible without sample code.

[2022-06-03 15:07] felangel commented on #385
Hi @bartekpacia 👋
Thanks for opening an issue!

I think this is working as expected because ideally things should not be printed while something is in progress. Can you provide some more context regarding what you're trying to achieve? Thanks!

[2022-06-04 18:42] #379 closed

[2022-06-05 03:00] #324 closed

[2022-06-05 19:51] felangel commented on #385
Closing for now since there aren’t any actionable next steps. Feel free to comment with additional info and I’m happy to continue the conversation 👍

[2022-06-05 19:51] #385 closed

[2022-06-05 19:52] felangel commented on #366
@craiglabenz did my previous reply help? Let me know if there’s anything I can do 👍

[2022-06-05 19:53] felangel commented on #304
Is this still an issue on the latest version of mason/mason_cli?

[2022-06-05 19:55] felangel commented on #309
Going to close this for now since in this particular case I’d recommend creating a single brick. You will also likely benefit from #215  once it has been implemented.

[2022-06-05 19:55] #309 closed

[2022-06-06 01:33] Luckey-Elijah commented on #362
Hey @felangel feel free to assign this to me. I'd like to work on it in the following days

[2022-06-06 01:35] felangel commented on #362
Thanks so much 💙

[2022-06-07 08:40] Rodsevich opened #394 "feat: In-file code generation + diff summary proposal"
**Description**

It's a common use case the inclusion of your generated code to well known existing files. This is a proposal for that:

Suppose this tree:
[code]

`index.dart` contents:
[code]

and the brick that generated those files:
[code]
[code]

The CLI usage should be something like this:

<img width="822" alt="image" src="https://user-images.githubusercontent.com/1907844/172333876-dce0d7e3

[2022-06-08 04:28] #362 closed

[2022-06-08 11:57] LukeMoody01 opened #397 "fix: StdinException when using enums on Windows (10/11)"
**Description**

Using enums in your brick.yaml will cause a StdinException when executing `mason make <brick>`

**Steps To Reproduce**

1. Create a new brick
2. Have an enum variable:
[code]
4. Run the `mason make <brick>`  *On Windows (10/11)
5. See error

**Expected Behavior**

The developer should be able to use enum values on Window devices

**Screenshots**
When you get to the enum variable
!

[2022-06-08 12:57] felangel commented on #397
Hi @LukeMoody01 👋
Thanks for opening an issue!

I’ll take a closer look shortly, sorry for the inconvenience!

[2022-06-08 13:32] LukeMoody01 commented on #397
It's no worries! I am sticking to string value types for now, so it is not too much of an inconvenience!

Thanks for the quick response!

[2022-06-08 16:27] Luckey-Elijah opened #398 "feat: add additional nav options to `mason_logger`'s `chooseOne`"
**Description**

When using `chooseOne` I would like to be able to use
- <kbd>J</kbd> to move down
- <kbd>K</kbd> to move up
- <kbd>Space</kbd> to make a selection

**Requirements**

- [ ] <kbd>J</kbd> to move down
- [ ] <kbd>K</kbd> to move up
- [ ] <kbd>Space</kbd> to make a choice selection

**Additional Context**

These is vim-like key binds.

_P.S. I'm building myself some internal tooling he

[2022-06-08 16:33] felangel commented on #398
Hi @Luckey-Elijah 👋
Thanks for opening an issue!

I think this makes sense. The only question I have is about `Space` to make a selection. The reason I ask is because I'm working on `chooseAny` (to allow zero or more selections) and in that implementation `Enter` is used to submit the responses and `Space` is used to toggle the selected state of an individual response. Let me know what you think a

[2022-06-08 17:39] felangel commented on #398
Just want to make sure I understand:

1. Keep `chooseOne` as is but add `Space` as a way to submit (in addition to `Enter`)
2. `chooseAny` supports `Space` to select/deselect and `Enter` to submit

Is that accurate?

[2022-06-08 20:15] Luckey-Elijah commented on #398
Yes! That's what I had in mind.

[2022-06-08 20:39] felangel commented on #398
I can just make the change along with the chooseAny should be able to get that done later today 👍

[2022-06-09 01:09] felangel commented on #398
@Luckey-Elijah I'm assuming you'd also want J/K support to move up/down for the `chooseAny` API right?

[2022-06-09 01:10] #329 closed

[2022-06-09 01:12] felangel commented on #304
Closing for now but feel free to comment if you're still encountering this issue and provide a link to a reproduction sample, thanks!

[2022-06-09 01:13] felangel commented on #314
Closing for now since it appears to no longer be an issue. Feel free to comment if you're still encountering this issue on the latest version and I'm happy to take a closer look 👍

[2022-06-09 01:38] Luckey-Elijah commented on #398
Yes  🙂

[2022-06-09 03:11] #397 closed

[2022-06-09 03:11] #398 closed

[2022-06-09 03:48] felangel commented on #398
Should be available in mason_logger v0.1.0-dev.12 🎉

[2022-06-09 03:48] felangel commented on #397
This should be resolved in mason_logger v0.1.0-dev.12 🎉

[2022-06-09 03:54] LukeMoody01 commented on #397
Amazing! Thanks @felangel!

[2022-06-09 09:00] bartekpacia opened #402 "feat: let us change the location of `$HOME/.mason-cache`"
As the title says. I'd like to be able to write in my shell `rc` file:

[code]

Maybe this is already possible, but after 1 minute of searching, I couldn't find such option.

[2022-06-09 10:07] bartekpacia commented on #361
It'd also be great if I could do:

[code]

:)

[2022-06-09 13:19] felangel commented on #402
Hi @bartekpacia 👋
Thanks for opening an issue!

You can set the `MASON_CACHE` environment variable 👍

[2022-06-09 13:19] #402 closed, assigned to felangel

[2022-06-09 13:27] felangel opened #403 "feat(mason_logger): progress.update"
It'd also be great if I could do:

[code]

:)

_Originally posted by @bartekpacia in https://github.com/felangel/mason/issues/361#issuecomment-1150931058_

[2022-06-10 09:08] LukeMoody01 opened #410 "fix: Cannot publish brick with enum type as a variable - Malformed bundle: BrickVariableProperties"
**Description**

When using an enum as a variable type in your brick, when you go to publish the brick you will get the following error:

"Unrecognized keys: [values]; supported keys: [type, description, default, prompt]"

**Steps To Reproduce**

1. Create a brick with an enum variable type
2. Publish the brick
3. See error

**Expected Behavior**

Developer should be able to publish a brick when u

[2022-06-10 14:38] felangel commented on #410
Hi @LukeMoody01 👋
Thanks for opening an issue!

This is because you need to update your version of mason_cli (since enum and array support was only recently added). Can you try updating mason_cli and let me know if you’re still having trouble publishing? Thanks!

[2022-06-10 14:43] LukeMoody01 commented on #410
Yup I have the latest version "0.1.0-dev.29"

[2022-06-10 14:46] felangel commented on #410
Ah yeah I need to upgrade the backend to use the latest version of mason. Give me 15 mins and should be good to go. Sorry for the inconvenience!

[2022-06-10 14:47] LukeMoody01 commented on #410
All good! I thought that was the case so I mentioned it in the ticket 😁

Thanks!

[2022-06-10 15:02] felangel commented on #410
@LukeMoody01 should be updated now. Can you try publishing again?

[2022-06-10 15:06] felangel commented on #394
Hi @Rodsevich 👋
Thanks so much for opening an issue!

Are you able to provide a snippet of the raw template and a snippet of the generated output side-by-side? I just want to make sure I fully understand the proposal, thanks! 🙏

[2022-06-10 15:11] LukeMoody01 commented on #410
Yup working all good now. Thanks for the quick fix!

[2022-06-10 15:11] #410 closed

[2022-06-11 08:38] Rodsevich commented on #394
Sure!
| before generation | after generation |
|--|--|
| index.dart | index.dart |
| <img width="625" alt="image" src="https://user-images.githubusercontent.com/1907844/173179893-76b24091-260c-4711-a9f5-ed91463d7221.png"> | <img width="620" alt="image" src="https://user-images.githubusercontent.com/1907844/173179846-77cd8a94-ae29-42be-aaf5-727873452e2d.png"> |
| structure | structure |
| <img widt

[2022-06-13 14:58] Luckey-Elijah commented on #403
👋🏻 I really like this feature request. As an interface I think something like this would be nice:

[code]

And output State A:
[code]
State B:
[code]
State C:
[code]

This means that the `update` will only write to `stdout` and _not_ change the original `progress` message (`'Calculating'` in this example).

[2022-06-13 15:22] Luckey-Elijah opened #413 "fix: `chooseOne` `j` and `k` key navigate in the wrong direction"
**Description**

When using `chooseOne` <kbd>J</kbd> and <kbd>K</kbd> to navigate, each move in the wrong direction.

Issue #398 for reference :)

**Steps To Reproduce**

[code]

[code]
Navigate with  <kbd>J</kbd> and <kbd>K</kbd>.

**Expected Behavior**

<kbd>J</kbd> to move down
<kbd>K</kbd> to move up

**Version**
demo at commit 0b555b9

**Screenshots**

![Screen Recording 2022-06-13 at 11 21 1

[2022-06-13 15:23] Luckey-Elijah commented on #413
Feel free to assign to me, and I can implement the fix 🙂

[2022-06-13 15:40] bartekpacia commented on #403
Personally, I'd prefer `update()` not to do persist text.  I can't explain this clearly, so I'll modify @Luckey-Elijah example from above :)

So:

And output State A:

[code]

State B:

[code]

State C:

[code]

[2022-06-13 16:57] felangel commented on #413
Ah oops good catch! Assigned to you, thanks! 🙏

[2022-06-13 21:01] Luckey-Elijah commented on #403
Yes that makes sense. I actually think I like that more 🙂

[2022-06-14 04:13] #413 closed

[2022-06-16 02:49] Luckey-Elijah commented on #403
@felangel if you think this feature may be added, feel free to assign me and I'd like to start on it 🙂

[2022-06-16 04:12] #375 closed

[2022-06-16 04:22] felangel commented on #366
Closing for now but feel free to comment with any additional thoughts and I’m happy to continue the conversation 👍

[2022-06-16 04:22] #366 closed

[2022-06-18 18:45] JensHor opened #417 "feat: print warning when lambda cannot be resolved"
**Description**

I just mistyped the `snakeCase` build-in lambda by using `{{variable.snake_case()}}` instead of `{{variable.snakeCase()}}` causing  the output of the lambda to be just an empty string.

This was obviously my mistake, but I think it would be great if the tool prints at least a warning that the used lambda could not be resolved. This makes building bricks and searching for errors ea

[2022-06-21 15:07] felangel opened #419 "feat: enhanced for-loop support"
**Description**

As a developer, there are many use-cases for knowing the current index and/or whether the current loop iteration is the first/last. For example, when generating a class definition and looping through parameters you may want to include commas in between parameters and a semicolon at the end. This is currently not intuitive/simple to accomplish because when using loops in mustache t

[2022-06-21 15:11] renancaraujo commented on #419
`.isOdd` or `.isEven` can also be useful.

[2022-06-22 15:41] felangel opened #420 "feat: support log levels"
**Description**

As a developer, I want to be able to configure a log level for my logger instance so that I can control the level of granularity in the logs. Need to create a proposal first before working on an implementation.

[2022-06-24 06:09] masreplay opened #426 "fix: Escape greater than and less than sign"
**Description**

I want to pass variable data type as generic Pagination<Order> but after it gets given the generated code will be like Pagination&lt;Order&gt;

**Steps To Reproduce**

1. pass < or > to prompt
2. go to generated code
3. &lt;&gt;

**Expected Behavior**

the greater than or equal less than must appear in the code as sign

**Screenshots**

<img width="430" alt="image" src="https://us

[2022-06-24 13:01] felangel commented on #426
Hi @masreplay 👋
You can use triple mustache brackets to unescape variables:

`{{{var}}}`

Hope that helps!

[2022-06-24 13:57] masreplay commented on #426
It worked, thanks @felangel 👋

[2022-06-24 13:57] #426 closed

[2022-06-26 09:25] masreplay opened #429 "fix: allow passing a dynamic array to prompt"
**Description**

Can't pass a dynamic array to prompt

**Steps To Reproduce**

1. mason make cubit --repositories (["user", "auth", "realEstate"])
2. I also try to pass params as ([user, auth, realEstate])

**Expected Behavior**

allow the list like - values

**Screenshots**

<img width="714" alt="image" src="https://user-images.githubusercontent.com/55885230/175807812-2ab397d6-99f5-46b7-8a49-465b

[2022-06-26 14:18] vasilich6107 opened #430 "feat: if/else with clause condition"
**Description**

Before creating this issue I investigated the repository to find if `mason` already supports what I need.
I've found `{{#isDev}}` and `{{^isDev}}` for booleans.

What I need is an ability to write `var == 'String' ? a : b`. or `if(var == 'String') { a }`

For example I have an input if type that I need to generate template for.
I need to call different methods from https://pub.dev

[2022-06-26 14:46] vasilich6107 opened #431 "feat: do not generate empty line in place of if clause"
**Description**

When adding multiple if clauses like

[code]

template generated

[code]

There are some empty lines. It would be great to have
[code]

[2022-06-26 15:06] felangel commented on #431
Hi @vasilich6107 👋
Thanks for opening an issue!

You can achieve the desired outcome by moving all the conditionals on the same line:

[code]

Hope that helps!

[2022-06-26 15:12] felangel commented on #431
Unfortunately that’s how mustache works. I’m working on expanding support to other templating engines in the future. Sorry for the inconvenience!

[2022-06-26 15:15] felangel commented on #431
I prefer to close it as there aren’t any actionable steps for mustache in particular.

[2022-06-26 15:15] #431 closed

[2022-06-27 00:16] LukeMoody01 commented on #430
Hey @vasilich6107 👋

For now, you could use the pre_gen.dart hook to create some custom variables that depend on the input!

[code]

Then you can write what you had above `{{#yourCustomValue}}` or `{{^yourCustomValue}}`

Hope this helps!

[2022-06-27 01:34] nasreekar opened #432 "fix: Issues on a mac running the "hooks" using mason bricks"
**Description**

Error running the bricks with hooks on a mac. The same code is working perfectly fine on a windows machine.

**Steps To Reproduce**

1. Generate a brick boilerplate template code with hooks using the `mason_cli` cmd
`mason new <BRICK_NAME> --hooks
`
2. Make the necessary changes in the brick if needed and Run the brick using the `mason make` cmd
3. See an error (default hooks code

[2022-06-27 05:07] PandaTechMobile commented on #432
+1

Also facing this issue on mac m1.

[2022-06-27 18:43] masreplay commented on #429
Hi @felangel 🖤
is it possible to make the syntax easier to write?
like this
mason make cubit --repositories [user, auth, realEstate]

[2022-06-28 09:43] abitofevrything opened #433 "fix: Shorthand syntax for lambdas should be more flexible"
**Description**

Given this template:
[code]

All three should be substituted. Currently, only the first one is.

**Steps To Reproduce**

1. Use the template above
2. Run the generator with the following variables:
[code]

**Expected Behavior**
The output should be
[code]

**Additional Context**

The issue seems to stem from [this regexp](https://github.com/felangel/mason/blob/master/packages/maso

[2022-06-28 12:48] cgutierr-zgz opened #434 "fix: mason publish does not accept expected input"
**Description**

The command `mason publish` throws an error when trying to publish a new brick with the name `42_project`, I would assume it fails for other similar namings.

**Steps To Reproduce**

1. Create a brick called `42_project`
2. Run `mason publish` inside the brick
3. See the error
 _**Output:**_

[code]

**Expected Behavior**

Reading the output `Use only basic Latin letters and Arabi

[2022-06-28 13:17] felangel commented on #434
Hi @cgutierr-zgz 👋
Thanks for opening an issue!

A brick name cannot start with a number. I can update the error to make it more explicit 👍

[2022-06-30 15:16] SHuygh commented on #432
+1 Also facing the same issue.

[2022-06-30 15:20] felangel commented on #432
Can everyone who is experiencing this confirm that they are on an M1 Mac?

[2022-06-30 16:06] SHuygh commented on #432
I am not. I had the issue with my own brick and hooks, and got the same exception.
Currently, I don't have access to my Mac. I will run the brick from @nasreekar tomorrow morning 9am CET

[2022-06-30 16:17] felangel commented on #432
@SHuygh can you share a link to your own brick and hooks?

[2022-07-01 02:25] #403 closed

[2022-07-01 09:50] MaximeEglem opened #440 "fix: Unclosed tag on MacOs"
**Description**

If you create a filename containing a slash with Mac software, then look at it with terminal, you will see the filename with a colon that will failed for finding the final separator.

**Steps To Reproduce**

1. Create filename with a slash /
2. Check on terminal, you will see a colon :

**Expected Behavior**

Instead of slash / allow : to close the tag on MacOs

[2022-07-01 09:58] #440 closed

[2022-07-01 11:15] SHuygh commented on #432
It currently is not available online. But with the https://github.com/nasreekar/mason_bricks I get the same error.

`MacBook-Pro:mason-playground flowpilots$ mason make drift_crud
? What is the table name? (todo) test
Unable to execute hook: /Users/flowpilots/.mason-cache/git/mason_bricks_aHR0cHM6Ly9naXRodWIuY29tL25hc3JlZWthci9tYXNvbl9icmlja3M=_f60f41834b9ffea0bedab15e5601c7792217827c/bricks/drift

[2022-07-01 14:25] felangel commented on #432
Thanks I’m looking into this and will report back later today, sorry for the inconvenience!

[2022-07-01 16:49] joekman990 opened #441 "feat: Add on conflict to a config file"
**Description**

I was wondering if it would be possible to have you on conflict strategy added to a config file this way if I have a brick that adds a bloc for example into a project and I will need it to alway append to the features folder I can put it into the config file

[2022-07-02 15:18] tbm98 opened #442 "fix: a file doesn't work with variables"
**Description**

a file doesn't work with variables but others do.

**Steps To Reproduce**

mason make from [here](https://github.com/tbm98/riverpod_feature)

**Expected Behavior**

all work.

**Screenshots**

work fine
![Screenshot 2022-07-02 221400](https://user-images.githubusercontent.com/52562340/177006336-98e68eab-a66f-4626-9dec-c907d7885fdc.png)
![Screenshot 2022-07-02 221343](https://user-

[2022-07-02 15:50] felangel commented on #442
Hi @tbm98 👋
Thanks for opening an issue!

Looks like it’s because you have three opening mustache brackets and 2 closing brackets on line https://github.com/tbm98/riverpod_feature/blob/5fda24a83f7c8d424894de63a1d48a26dbd10d64/bricks/riverpod_feature/__brick__/%7B%7Bname.snakeCase()%7D%7D/%7B%7Bname.snakeCase()%7D%7D_providers.dart#L10.

[2022-07-02 16:00] tbm98 commented on #442
Hi @felangel.
It is just a named parameter look like ```{NameState? state}```

[2022-07-02 16:07] felangel commented on #442
Can you try escaping the first and last `{}` with `\`?

[code]

[2022-07-02 16:11] tbm98 commented on #442
I will try in tomorrow. Thanks ✋

[2022-07-02 21:51] felangel commented on #442
Just verified that the following should work:

[code]

Closing for now but feel free to comment if you have any additional follow-up questions 👍

[2022-07-02 21:51] #442 closed

[2022-07-02 23:31] tbm98 commented on #442
Thank you, it worked :D

[2022-07-05 03:50] felangel commented on #430
Closing for now since there are no actionable next steps. Feel free to comment with any follow-up questions and I'm happy to continue the conversation 👍

[2022-07-05 03:50] #430 closed

[2022-07-06 02:25] felangel commented on #91
Closing this for now since we've modularized quite a bit since this issue was created and I propose to apply additional modularization as needed.

[2022-07-06 02:25] #91 closed

[2022-07-07 04:48] felangel commented on #432
@nasreekar @SHuygh the issue is when you install `mason` from homebrew. I'm working on a fix for this but in the meantime you should be able to uninstall from homebrew and install from `pub.dev`:

[code]

Let me know if that helps and sorry for the inconvenience!

[2022-07-07 05:13] felangel commented on #432
This should be resolved by https://github.com/felangel/homebrew-mason/commit/2f26bb06ba9345cc9b918c9e5c3969250a1ca7a1. You should be able to reinstall from homebrew and hooks should work properly. Let me know if you experience any difficulties and I'm happy to reopen this 👍

[2022-07-07 05:13] #432 closed

[2022-07-07 06:45] mahdi739 commented on #419
Hi @felangel 👋
How can we pass an array throw the command line? (instead of json config file)

[2022-07-08 01:59] nasreekar commented on #432
@felangel I have tested it on my brick after reinstalling the mason via homebrew, and it works like a charm. No issues found. Thank you so much for picking it up and fixing it on priority :)

[2022-07-08 14:07] LosDanieloss opened #446 "chore: Should bricks check for missing dependencies and add them if neccessary?"
I'm new to the mason and bricks. Came here after watching YouTube video posted by Flutter team. Tried few of bricks and it seems that they all have one in common. They don't add dependencies to pubspec.yaml if they relay on any e.g., brick that generates model class using freezed don't check and include build_runner, freezed or json_serializable dependencies.
This get me wondering... Is it good pr

[2022-07-08 14:40] LosDanieloss commented on #446
Thanks for quick response. Yes it helps. But raises another question. Should that `post_gen.dart` script also be responsible for running `build_runner`? For the sake of completeness and be error-free I'd imagine yes.

[2022-07-08 14:42] felangel commented on #446
It's up to the brick maintainer to decide but in my opinion yes, it would be good to run build_runner for the users (if necessary). You may even be able to generate the relevant code as part of the brick (rather than relying on an additional code generation step).

[2022-07-08 14:44] LosDanieloss commented on #446
Thank you for clarifications

[2022-07-08 14:48] #446 closed

[2022-07-10 14:23] andrzejchm opened #447 "Lambdas on MacOS partially work"
# Description

using lambdas in filenames on macOS is not working correctly, using alternative exit lambda sign (`\` instead of `/`) makes intellij not showing the template file at all, see screenshots below.

here is a bug report for IntelliJ: https://youtrack.jetbrains.com/issue/IDEABKL-6091/IDEA-handles-files-with-non-separator-slashes-incorrectly

# Expected Behavior
In general I believe using

[2022-07-10 15:59] felangel commented on #447
Hi @andrzejchm 👋
This is a duplicate of https://github.com/felangel/mason/issues/36 and you can alternatively use the lambda shorthand syntax: https://github.com/felangel/mason/tree/master/packages/mason_cli#built-in-lambdas.

Hope that helps 👍

[2022-07-10 18:13] andrzejchm commented on #447
Thank you for your fast reply @felangel

I've checked, the shorthands dont work either:
![CleanShot 2022-07-10 at 20 09 47@2x](https://user-images.githubusercontent.com/1711474/178156948-edb63d41-8e4f-47a2-bdd1-bba7afe09097.png)

What I did instead, I've created `pre_gen.dart`  hook that adds new variables with the snake case names and use those instead. this works like a charm :) Although I think

[2022-07-10 18:16] felangel commented on #447
Thanks! Can you please provide a minimal reproduction sample? Also, are you using the latest version of mason?

[2022-07-10 20:03] andrzejchm commented on #447
you're right! I had older dart version thus was using `0.1.0-dev.10`. I've now updated dart and mason to `0.1.0-dev.30` and it works like a charm! Sorry for bothering :)

[2022-07-10 20:03] #447 closed

[2022-07-11 19:33] wolfenrain commented on #420
After discussing this with @felangel, I have come up with the follow proposal.

Introduce a `LogLevel` enum, that can be passed to the `Logger` constructor:

[code]

By default the `Logger` will use `all` to ensure it is backwards compatible.

Internally we can have an extension on the `LogLevel` to return an integer for each level and use that for each of the log methods to determine if it should

[2022-07-12 09:32] vanlooverenkoen commented on #382
Any idea when this will be implemented? This is a feature that would optimize our workflow a lot!

[2022-07-12 09:56] vanlooverenkoen opened #448 "feat: Add output path to HookContext"
**Description**

We want to remove files based on a boolean that was entered during config. But we don't have the output path available in HookContext.

**Requirements**

- [ ] Add output path to HookContext

[2022-07-12 09:57] vanlooverenkoen opened #449 "feat: Add path dependencies to Hooks"
**Description**

It is not possible to add a path dependency, I think the hooks pubspec will be resolved from the wrong location

`path: ../../` does not work when running from ../../ where the brick is located

**Requirements**

- [ ] Support for path dependencies

[2022-07-12 20:14] felangel commented on #420
@wolfenrain thanks so much for the proposal! The only comment I had was about inverting the LogLevel values to be ascending in order of priority like:

[code]

Otherwise the proposal sounds great to me, lmk what you think 👍

[2022-07-13 10:54] andrzejchm commented on #215
I love the idea of extending bricks!

 one question:

will having a subbrick allow me to import code from the parent brick? the reason I ask is that I might want to have 1 meta brick as a parent that hosts some reusable code for the subbricks. i.e:

`core` meta-brick
  -- `page` subbrick
  -- `useCase` subbrick

and both `page`'s and `useCase`'s `post_gen.dart` hooks would need to replace text in

[2022-07-13 13:13] felangel commented on #215
You should be able to achieve this by extracting the common code into a package and installing the package as a dependency for both hooks either via git or pub.dev

[2022-07-13 19:44] renancaraujo opened #451 "feat(logger): Allow customizing progress animation for progess"
**Description**
Allow people to customize the characters for the progress "animation" triggered by `logger.progress`.

**Requirements**

- [ ] People can pass an array of characters.

**Additional Context**

Today, characters are hardcoded [here](https://github.com/felangel/mason/blob/3182212c8f7b7f02df4a1f7c602c418217ed358c/packages/mason_logger/lib/src/progress.dart#L22).

[2022-07-14 03:22] felangel commented on #448
Hi @vanlooverenkoen 👋
Thanks for opening an issue!

You can use `Directory.current` from `dart:io` within your hook to access the output directory. Let me know if that helps 👍

[2022-07-14 03:32] felangel commented on #429
@masreplay you should also be able to do:

[code]

Let me know if that helps 👍

[2022-07-14 04:44] masreplay commented on #429
Yeah of course it's a little easier

[2022-07-14 09:30] vanlooverenkoen commented on #448
That does not contain the output path if you use `-o custom/output/path` but only the location where mason was called

[2022-07-14 12:42] felangel commented on #448
The current directory of the hook should be the output directory. Can you share a minimal reproduction sample? Also, are you on the latest version of mason_cli?

[2022-07-14 12:45] #429 closed

[2022-07-15 08:21] ciprig commented on #441
We need this as well, we need to append to pubspec.yaml and overwrite the rest of the files.

[2022-07-15 13:33] felangel commented on #441
Hi @ciprig @joekman990

Can you provide an example of what you envision this config file would look like? Thanks!

[2022-07-15 15:45] ciprig commented on #441
Hi @felangel

Sometime like this
`conflict_resolution:
  append:
     - pubspec.yaml
   overwrite:
     - assets/
     - lib/ `

Regarding location both brick.yaml and mason.yaml make sens. Latter will work better for us as we have a collection of similar bricks and will avoid duplicate config and give control to the project that uses the brick. However, if we put it in brick.yaml, will be closer

[2022-07-18 14:48] #420 closed

[2022-07-18 16:33] #433 closed

[2022-07-18 18:26] woroud-alnaeb opened #461 "Run MasonGenerator on "make" Command"
I have a brick that I use to multiple purposes and to pass a list of attributes that will be used to generate code from another internal brick.
I do not want to access internal brick directly but I want to **automatically** run MasonGenerator to generate multiple copies of the internal one from the external brick when I **make** the external one, is there a way to achieve this?

[2022-07-18 18:30] Luckey-Elijah opened #462 "feat: Add `link` ansi wrapper"
**Description**

Add an ANSI wrapper that enables hyperlinks/links in the terminal. More info at this [Gist](https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda) on how to achieve the desired effect.

I've done this in one of my projects, but I think it might server others as well.

**Requirements**

- [ ] API to "wrap" a string with a link for stdout.

**Additional Context**

An ex

[2022-07-18 19:01] felangel commented on #461
Hi @woroud-alnaeb 👋
Thanks for opening an issue!

You can use a `pre_gen.dart` hook in your `external` brick to programmatically generate code from internal bricks. See https://github.com/LukeMoody01/mason_bricks/blob/6aae6ad057bb071e6c66f5a9bd2194f339af1791/bricks/service_package/hooks/pre_gen.dart#L44 for an example, hope that helps 👍

[2022-07-18 19:26] #461 closed

[2022-07-19 20:15] felangel opened #463 "feat: support contextual progress updates"
**Description**

As a developer, I want to be able to work with the `Logger.progress` API while writing to stdout and have the progress retain its current position and update despite other logging operations.

[code]

[2022-07-20 17:22] #463 closed

[2022-07-23 03:36] felangel commented on #449
Hi @vanlooverenkoen 👋
Thanks for opening an issue!

This is a duplicate of #382.

[2022-07-23 03:37] #449 closed

[2022-07-23 03:38] felangel commented on #382
@vanlooverenkoen planning to implement this some time this coming week -- sorry for the delay!

[2022-07-24 16:18] lavahasif opened #479 "fix: Could not find brick at https://github.com/felangel/mason"
**Description**

A clear and concise description of what the bug is.

**Steps To Reproduce**

1. `mason_cli: ^0.1.0-dev.32`
2.  execute ```mason add -g bio --git-url https://github.com/felangel/mason ```

**Expected Behavior**

✓ Made brick bio (0.1s)
✓ Generated 1 file:

**Error showing**
Could not find brick at https://github.com/felangel/mason

**Screenshots**
![image](https://user-images.githu

[2022-07-24 16:41] felangel commented on #479
Hi @lavahasif

You need to specify the git path as well since the brick isn’t at the root of the repo:

`mason add -g bio --git-url https://github.com/felangel/mason --git-path bricks/bio`

[2022-07-24 16:50] lavahasif commented on #479
@felangel  thank you it worked
look this package work without mention --git-path .how it is ? could you give info?
![image](https://user-images.githubusercontent.com/22430922/180657717-55f0cdc7-6aea-4cd7-b8a4-936711da5b05.png)

[2022-07-24 17:08] felangel commented on #479
It seems that command also errored. You need to provide the path to the brick if it’s not at the root of the repository. I can try to improve the error messaging in the above case 👍

[2022-07-24 17:08] felangel commented on #479
Closing for now since it is working as expected

[2022-07-24 17:08] #479 closed

[2022-07-24 17:09] felangel commented on #448
Closing for now since I believe this is working as expected and there are no actionable next steps.

[2022-07-24 17:09] #448 closed

[2022-07-24 17:59] lavahasif commented on #479
` mason add -g ck --git-url https://github.com/lavahasif/ct   `

**How  the project structure?**

![image](https://user-images.githubusercontent.com/22430922/180659888-82503bd5-f3a3-40c6-a6a2-80e3e4173756.png)

**Output**

![image](https://user-images.githubusercontent.com/22430922/180659877-d5277c7f-6837-4cd4-9b61-8102ca101d68.png)

thanks felangel it works

[2022-07-25 07:57] vanlooverenkoen commented on #448
We are using the latest mason cli. If I find time I will create a small example. (sorry I was on holiday)

[2022-07-25 13:35] vanlooverenkoen commented on #448
hmm strange in a minimal project it does work. 🤷 So no action needed for this ticket

[2022-07-25 14:14] lavahasif opened #480 "fix: Could not find brick at E:/CodeSAmple/flu/dbhelper/dbhelper.i coud'nt execute make command and list command on mason"
**Description**

I coud'nt execute make command and list command on mason cli. it showing coud not find brick at .It was working .suddenly happening like this. i restart my system and deactivate mason_cli

**Steps To Reproduce**
**first case**
1. `mason list -g`
###  second case
1.mason add -g feature_brick
2.mason make feature_brick

**Expected Behavior**
while execute first case
![image](https:/

[2022-07-25 14:18] felangel commented on #480
Hi @lavahasif 👋
Thanks for opening an issue!

Did you install the bricks locally (without the -g flag)? If so can you try to install them again (mason get)?

If you installed them globally then you can try to re-add them via mason add -g.

If you’re still having trouble you can try wiping the mason cache via (mason cache clear).

Let me know if that helps!

[2022-07-25 14:31] lavahasif commented on #480
i execute `mason cache clear` still the issue

i remove the folder

`E:/CodeSAmple/flu/dbhelper/dbhelper`

[2022-07-27 09:24] lavahasif commented on #480
could you .. how i reinstall mason . just delete the cache folder .but same error showing.i tried pub activate and reactivate same effect

[2022-07-30 20:01] yardexx opened #482 "feat(vars): Conditional variable input"
Hello

I was trying mason when I got to this problem

**Description**

I want to omit paramaters completly (= not bother other devs by hiting enter for nothing) because I don't need them -  they are in part of file which won't be generated because of previous boolean variable.

Model situation:
Let dev to choose whether to generate code for Android or iOS or both. For Android, package name is need

[2022-07-30 21:45] felangel commented on #482
Hi @yardexx 👋
Thanks for opening an issue!

This is already possible via a pre_gen hook. You can inspect the current variables via context.vars and then conditionally prompt using the built in logger (context.logger).

Let me know if that helps 👍

[2022-07-30 21:52] yardexx commented on #482
👍  That's what I was looking for. Thanks.

btw. Love, VGV packages, keep up the good work <3

[2022-07-30 21:54] #482 closed

[2022-07-31 10:36] lavahasif opened #484 "fix: coud'nt find brick .cant execute make command on brick global or local ."
**Description**

I coud'nt execute make command and list command on mason cli. it showing coud not find brick at .It was working .suddenly happening like this. i restart my system and deactivate mason_cli

**Steps To Reproduce**
**first case**
1. `mason list -g`
###  second case
1.mason add -g feature_brick
2.mason make feature_brick

**Expected Behavior**
while execute first case
![image](https:/

[2022-07-31 14:09] felangel commented on #484
Hi 👋
This looks like a duplicate of #480.

[2022-07-31 14:49] lavahasif commented on #484
where i need to copy that folder E:\  to c:\
this my mason.bat folder from c drive
![image](https://user-images.githubusercontent.com/22430922/182031835-d1f1f77b-8a98-444a-b94f-1e1416723d6b.png)

can you suggest reinstallation approach

[2022-07-31 18:29] MbIXjkee opened #485 "fix: Add brick from git by path doesn't work"
Adding brick from git doesn't work.

mason add elementary --git-url https://github.com/Elementary-team/flutter-elementary --git-path tree/main/packages/elementary_tools/elementary_bricks/elementary/

Maybe the reason is monorepo.

[2022-07-31 18:57] felangel commented on #485
Hi @MbIXjkee 👋
The git path should be relative to the root of the repo so in this case I believe it should be:

`mason add elementary --git-url https://github.com/Elementary-team/flutter-elementary --git-path packages/elementary_tools/elementary_bricks/elementary`

Hope that helps 👍

[2022-08-01 06:17] lavahasif opened #486 "fix: unintentionally delete or rename the global brick path affect the global /local mason command. like list ,make commands."
**Description**

 unintentionally delete or rename the global brick path affect the global /local mason command. like list ,make commands.
[#480](https://github.com/felangel/mason/issues/480) [484](https://github.com/felangel/mason/issues/484)

**Steps To Reproduce**

delete or rename the brick you registerd as global .
execute `mason ls -g`
**Expected Behavior**

coud'nt find brick if it availabl

[2022-08-01 07:48] MbIXjkee commented on #485
Hi @felangel. Thank you, this helped. I think will be good to show it in the documentation.

[2022-08-01 07:50] MbIXjkee commented on #485
Or maybe add examples even.

[2022-08-01 12:09] lavahasif commented on #480
[Check here you can find solution ](https://github.com/felangel/mason/issues/486)

[2022-08-01 12:10] #480 closed

[2022-08-01 12:10] lavahasif commented on #484
[Check here you can find solution ](https://github.com/felangel/mason/issues/486)

[2022-08-01 12:10] #484 closed

[2022-08-01 13:28] felangel commented on #485
I tried to show this in the mason.yaml that is generated when you run mason init. I’m working on a dedicated docs site so this should be covered when that goes live 👍

[2022-08-01 13:28] #485 closed

[2022-08-10 11:09] wolfenrain commented on #382
Would love to have this functionality as well! Would clear up my code base quite a bit.

[2022-08-11 08:32] DeMarcoMan opened #496 "fix: FileSystemException: Directory listing failed (activate brick with git on Windows)"
Hello Felix,

We are using your tool for creating new pages/controllers in our apps and it helps us a lot, but we have an issue on Windows.
On macOS we don't have this problem.

**Description**

We get this exception on WIndows:
[code]

**Steps To Reproduce**
1. mason get
2. mason make rubigo_page
3. See error

**Mason.yaml**
This is the mason.yaml:
[code]

**Additional Context**
We use the latest

[2022-08-11 13:16] felangel commented on #496
Hi @DeMarcoMan 👋
Thanks for opening an issue!

Can you please provide a link to a minimal reproduction sample? I’m not able to access the bitbucket repository. Thanks!

[2022-08-14 16:02] dungngminh commented on #448
WYSI @vanlooverenkoen , the path when you defined in `-o foo_path` or `--output-dir foo_path`, you can get full path include `foo_path` you defined by `Directory.current`, if folder is not exist, it will create new folder first and `Directory.current` will have full path you defined.

This is my terminal and my mason:
[code]
Sorry @felangel for opening this issue again.

[2022-08-15 09:00] DeMarcoMan commented on #496
Hi Felix,

The rubigo_page repository is now public so you should be able to test this with the mason.yaml above.

[2022-08-17 03:19] felangel commented on #496
@DeMarcoMan thanks! I'll take a look shortly 👍

[2022-08-19 20:12] davidsowerby opened #499 "fix: make --output-dir option has no effect, places output in current directory"
**Description**

Use of the --output-dir option for **make** has not effect

**Steps To Reproduce**

1.  Execute any variation such as the following:

- mason make  --output-dir ./target --on-conflict overwrite takkan_app
- mason make --on-conflict overwrite --output-dir target takkan_app
- mason make --output-dir target takkan_app
- mason make --output-dir ./target takkan_app
- mason make  -o /ho

[2022-08-22 14:03] dhrubrawat66 opened #500 "fix:"
I use this command "mason make very_good_dart_package --project_name "todos_data_source" --description "A generic interface for managing todos." -o packages"
the i got this issue "

command failed with this message==>Could not find an option named "project_name".

**"C:\Users\dhrub\Desktop\Screenshot 2022-08-22 145545.png"**

[2022-08-22 14:04] dhrubrawat66 commented on #500
this was tested in window operating system.

[2022-08-22 14:36] felangel commented on #500
Hi @dhrubrawat66 👋
Thanks for opening an issue!

I already responded to your issue once [on the Dart Frog repo](https://github.com/VeryGoodOpenSource/dart_frog/issues/287) and you never replied. Can you please follow up this time?

Can you please run the following commands and share the output?

`mason --version`

`mason ls`
`mason ls -g`

[2022-08-22 14:41] felangel commented on #499
Hi @davidsowerby 👋
Thanks for opening an issue!

I believe the issue is `mason make` must immediately be followed by the brick name and then by any command-line arguments. The following should work:

[code]

Let me know if that helps and sorry for any inconvenience!

[2022-08-22 16:07] dhrubrawat66 commented on #500
![Screenshot 2022-08-22 215121](https://user-images.githubusercontent.com/85351405/185967422-b3edf0f7-7fc9-493a-a84b-48fcd15f087c.png)

[2022-08-22 16:07] dhrubrawat66 commented on #500
after these command i got these output

[2022-08-22 16:47] felangel commented on #500
Hi @dhrubrawat66 👋
That means you haven't installed the `very_good_dart_package` template. You need to install it first via:

[code]

Then you should be able to run `mason make ...` and the package should be generated. Let me know if that helps 👍

[2022-08-22 17:56] dhrubrawat66 commented on #500
thank you. it woks.

[2022-08-22 19:03] #500 closed

[2022-08-23 09:55] davidsowerby commented on #499
That works, thank you - that was the combination I did not try!

[2022-08-24 04:26] #434 closed

[2022-08-25 18:23] Hisham-Tariq opened #501 "fix: enum values selection using arrow_keys"
**Version**
mason 0.1.0-dev.34
**Description**

Enum Values can't be selected except first one as the arrow keys does not take to any other value.

**Steps To Reproduce**

1. Create a array field
2. values:
      - development
      - integration
      - staging
      - production
3.  get and make the brick
4. See error

**Expected Behavior**

A clear and concise description of what you expected t

[2022-08-25 18:32] Hisham-Tariq commented on #501
Yes i tried but arrow keys not navigating between options

[2022-08-25 18:47] felangel commented on #501
Can you provide a link to a minimal reproduction sample? Are you able to push your brick to GitHub?

[2022-08-26 05:28] Hisham-Tariq commented on #501
Hi I just used the flavors brick with this command which gave the same error

mason add flavors --git-url https://github.com/felangel/mason --git-path bricks/flavors

[2022-08-30 11:09] juskek opened #502 "feat: Customise --on-conflict for specific files"
**Description**

Hi! Great package, would it be possible to customise the --on-conflict handling for specific files when running mason make in the CLI?

E.g.,  mason make <brick_name> --on-conflict-file <file_name> append --on-conflict-default overwrite

**Requirements**

- [ ] Customise --on-conflict handling for specific files

**Additional Context**

NA

[2022-08-30 14:59] ABausG opened #503 "feat: Mustache Set Delimiter not working"
**Description**

Support Shorthand Syntax for builtIn Lambdas with custom Delimiters

**Motivation**
When having the need to have hardcoded brackets like `${{ github.ref_name }}` in a generated file it is needed to use custom delimeters for mustache.
It is possible to use the built in lamdas however the syntax is quite bulky as they need to be written out. It would be great if the shorthand syntax

[2022-08-31 10:30] rutvik110 opened #505 "feat: allow search on bricks installed globally on users system and generate the brick selected from the search results"
**Description**

The current search for bricks through mason, allows one to search bricks present on brickhub.dev . I would love to see search on bricks installed globally on users system. And allow the user to select a brick from the search results and generate it upon selection.

Preview :

https://user-images.githubusercontent.com/65209850/187836705-0aec0e49-07f6-48ad-93fc-e4a7707be4ed.mp4

**R

[2022-08-31 15:08] felangel commented on #505
Hi @rutvik110 👋
Thanks for opening a PR. I believe this functionality is supported via `mason ls -g`. Let me know if that helps!

[2022-08-31 16:29] rutvik110 commented on #505
So, the default global list of bricks from mason presents you with all of the globally installed bricks. But, this addition allows you to search globally installed bricks like you would do with `mason search $brickname`. And on top of that, you can select the brick right away from the search results and follow up with its generation.

I believe this can speed up things if you're trying to find a b

[2022-09-01 03:11] Luckey-Elijah commented on #505
Additionally for the search, `mason search -i <q>` and `mason search -r <q>` could  _only_ search bricks that are _installed_ or _registered_ at `registry.brickhub.dev` (respectively).

[2022-09-02 21:48] D-James-GH opened #507 "fix: (logger) when terminal is full chooseOne repeats lines"
**Description**

If the terminal screen is full, in other words it is scrollable, then the `chooseOne` logger function does not redraw correctly when switching between options. It repeats certain lines of the prompt. Normally it repeats the message but sometime it repeats the message and the choices.

**Steps To Reproduce**

1. Fill the terminal with any commands, or resize the terminal so that yo

[2022-09-05 13:37] jsroest opened #508 "feat: Read a default configuration file by convention instead of configuration"
**Description**

I have a brick that generates two files:

1. page
2. controller

To be able to share the brick across projects, I've added some variables:

1. project_name
2. page_id
3. page_name

This works great, but when you are working on a project, the ```project_name``` is for that project always the same. Asking the ```project_name``` is redundant and error-prone.

So I've added a configur

[2022-09-05 13:42] felangel commented on #508
Hi @jsroest 👋
Thanks for opening an issue!

Can you please provide a bit more context?

Using the `-c` flag is what I’d recommend in this case. Do you just not like specifying the path to the configuration file?

You can always create an alias for this if you want to type slightly slightly fewer characters. Let me know what you think.

[2022-09-05 14:23] jsroest commented on #508
Hi,

Thanks for your quick reply.

That's exactly the case.

We have a mixed environment here, macOS and Windows. That would not be cross-platform.

I've tried that.

This is the content of ```pre_gen.dart```:
[code]

The problem with that is the variable ```project_name``` is still asked by Mason, and after that, overwritten by the pre_gen hook. This is confusing.

[code]

This is the brick where

[2022-09-06 08:49] campovski opened #509 "feat: Support for hooks in Flutter"
**Description**

Currently, using hooks from a Flutter app is not supported due to `Isolate.spawnUri` invocation.

**Requirements**

- [ ] Should be able to invoke `generator.hooks.preGen()` from a Flutter project.

**Additional Context**

Currently, the only solution to this is to copy paste the logic from hooks into Flutter app. However, this only works if the brick used is always the same (not

[2022-09-06 11:37] andikapratama opened #510 "fix: Generated Files limited to max 248 files"
**Description**

Currently mason can only generate a maximum of 248 files, the rest are skipped.

**Steps To Reproduce**

1. Use my sample brick with a 1000 file here https://github.com/andikapratama/mason_file_limit
2. run `mason make file_limit`
3. See that only 248 files are generated

**Expected Behavior**

All 1000 files should be generated. But instead, only 248 file is generated

**Screensh

[2022-09-08 01:16] LukeMoody01 commented on #510
Hey @andikapratama 👋

I thought this issue was interesting so I pulled your brick and gave it a go, and I was able to generate all 1000 files:
![image](https://user-images.githubusercontent.com/73887660/189011946-10805d2b-664c-4f5e-9d52-acadf5537d24.png)

Are you on the latest version of mason?
And also, what system are you on (Mac, Windows, Linux)?

I tested this on Windows 11 (I can also test on

[2022-09-08 01:19] andikapratama commented on #510
Oh it worked on Windows 11? I tested this on Mac, on currently latest mason
(0.1.0-dev34)

On Thu, Sep 8, 2022, 8:16 AM Luke Moody ***@***.***> wrote:

[2022-09-08 01:20] felangel commented on #510
@andikapratama you may need to up the limit of the number of processes via ulimit.

`ulimit -u unlimited`

https://access.redhat.com/solutions/61334

[2022-09-08 04:02] andikapratama commented on #510
Thanks @felangel , setting the ulimit worked.

But unfortunately mac's ulimit will reset back to 256 everytime I close the terminal, so i had to do it everytime, which is annoying.

In my opinion, this should still be considered a bug, because shouldn't mason try to close the files after writing them during generation, instead of opening and writing all the files all at once? This way by default i

[2022-09-08 18:26] felangel commented on #510
Agreed, I'll dig into this shortly.

[2022-09-08 20:20] Rushi-creates commented on #501
@Hisham-Tariq try using 'j' and 'k' keys on the keyboard to move up and down respectively, and use spacebar to select/deselect and press enter to finish

[2022-09-10 21:39] #510 closed

[2022-09-11 14:40] felangel commented on #510
This should be resolved in `mason v0.1.0-dev.32` 🎉

[2022-09-12 03:16] felangel opened #514 "[BREAKING] Hooks should not support having templated contents"
Currently, it is possible to include mustache as part of a hook (`pre_gen.dart` or `post_gen.dart`) and `mason` will handle rendering the templated code prior to executing the hook. **This is legacy behavior and it will be removed in future versions of mason.**

Example of the current (legacy) behavior:

[code]

If we were to use `mason make` to run the above brick we'd see the following:

[code]

[2022-09-12 20:34] Luckey-Elijah commented on #462
@felangel would you accept a PR for this feature? If so, feel free to assign to me

[2022-09-12 21:23] felangel commented on #462
Yes, I'd love to add this 👍

[2022-09-14 18:04] Luckey-Elijah commented on #462
I don't think using `AnsiCode` will work with it's `wrap` method since it doesn't take a second parameter for something like a "link".

I like to propose a top-level function `link`, a method on the `Logger`, or a new class for this (similar to `AnsiCode`).

The top-level function `link` or a `link` method on `Logger` would make the most sense. A new class just for wrapping a message with link is

[2022-09-15 15:27] oravecz opened #515 "fix: Relative paths in mason.yaml should resolve relative to mason.yaml (not the current working directory)"
**Description**

In mason.yaml, the relative path to a brick should resolve to the location of
mason.yaml and not the current working directory when running mason commands.
For example, `mason upgrade` resolves paths to bricks (e.g. ./path/to/brick)
relative to the directory I am in when I run the command, causing my defined
bricks to not be discovered.

**Steps To Reproduce**

1. Add a brick spec

[2022-09-15 15:32] felangel commented on #515
Hi @oravecz 👋
Thanks for opening an issue!

Good catch, I'll try to get a fix in later today. Sorry for the inconvenience!

[2022-09-15 15:43] oravecz opened #516 "feat: Builtin hooks for command line scripting"
**Description**

In the original custom scripts (hooks) feature #149, the proposal to add scripts listed two really good use cases -- running `dart fix --apply` or `flutter pub get` after a block executes. I'm wondering if a hook could be baked in to the brick's config that executes command line statements before or after a brick executes.

For example, right now I believe I have to add hooks to m

[2022-09-15 15:53] felangel commented on #516
related to #311

[2022-09-16 16:10] #462 closed

[2022-09-16 17:49] Luckey-Elijah opened #520 "fix: `mason search` has hardcoded 80 character `-` line"
**Description**

When using `mason search`, terminal with less than 80 columns moves the `-` to a new line.

**Steps To Reproduce**

- Use a terminal with less than 80 columns
- `mason search` a query with results

**Expected Behavior**

Should not exceed the column size of the terminal.

**Screenshots**

<img width="822" alt="Screen Shot 2022-09-16 at 1 44 49 PM" src="https://user-images.githubus

[2022-09-16 21:33] #515 closed

[2022-09-17 04:57] felangel commented on #515
@oravecz this should be resolved in [mason_cli v0.1.0-dev.35](https://pub.dev/packages/mason_cli/versions/0.1.0-dev.35) 🎉

[2022-09-20 21:25] bartekpacia commented on #385
Hi @felangel! I'm reviving this issue :)

Let's say that I have the following method:

[code]

Locally, it works fine, but when run on GitHub Actions (so a non-interactive shell), the output is pretty horrible:

![Screenshot 2022-09-20 at 11 25 04 PM](https://user-images.githubusercontent.com/40357511/191367563-5526a16b-2e0c-4164-a0fd-ce014bc97784.png)

[2022-09-23 04:17] yhhCh405 opened #525 "Got error in hooks while importing package"
I got runtime error while using methods from imported libraries. Is it not supported?
In pre_gen.dart

<img width="791" alt="Screen Shot 2022-09-23 at 10 42 39 AM" src="https://user-images.githubusercontent.com/26477761/191891198-448b38d4-6500-4cfa-b966-db9b01c66730.png">

_dart io in screenshot_

[2022-09-23 04:52] felangel commented on #525
Hi @yhhCh405 👋
That should be totally fine. Can you please provide a link to a minimal reproduction sample?

[2022-09-23 06:54] yhhCh405 commented on #525
Steps to reproduce:
1. Clone this repo: [https://github.com/yhhCh405/demo_mason_bug](https://github.com/yhhCh405/demo_mason_bug)
2. Run `flutter pub get`
3. Run `cd mason && mason get && mason make prehooktest`
And you will see error
<img width="341" alt="Screen Shot 2022-09-23 at 1 24 42 PM" src="https://user-images.githubusercontent.com/26477761/191906622-fe2f0624-f308-4ecb-8870-f531bb3c86f2.png

[2022-09-23 07:12] felangel commented on #525
Thanks for the reproduction sample! I've narrowed down the issue to the fact that the path you're passing is invalid. If you change the `pre_gen.dart` script to the following, it runs without errors:

[code]

I'm looking into why the current error is being reported since it is misleading.

[2022-09-26 13:59] cbenhagen opened #526 "feat: allow upgrading globally installed bricks"
**Description**

I would like to update all globally installed bricks. Maybe with `mason upgrade -g`?

**Requirements**

- [ ] Allow upgrading all globally installed bricks

[2022-09-29 12:01] bartekpacia commented on #385
Ping @felangel :)

[2022-09-29 12:01] bartekpacia opened #527 "fix(mason_logger): Don't print the spinner when output is not a tty"
This is a revival od #385.

Let's say that I have the following method:

[code]

Locally, it works fine, but when run on GitHub Actions (so a non-interactive shell), the output is pretty horrible:

![Screenshot 2022-09-20 at 11 25 04 PM](https://user-images.githubusercontent.com/40357511/191367563-5526a16b-2e0c-4164-a0fd-ce014bc97784.png)

I suggest `mason_logger` take the same approach as the `pu

[2022-09-29 13:33] felangel commented on #385
Yeah we can update the behavior to be static in non-interactive shells 👍

Although, this issue was tracking being able to interleave logs during a progress call so I don’t think it’s the same issue. Do you mind opening a new issue to track this?

[2022-09-29 15:35] bartekpacia opened #528 "fix(mason_logger) Gracefully handle printing new lines when `Progress` is spinning"
**Description**

`print`ing when a progress is active doesn't look good

**Steps To Reproduce**

`dart run` the following file:

[code]

[code]

**Expected Behavior**

[code]

I'd expect the spinner to either always "pop to the bottom" or stay on the line where it was originally printed. This would allow for printing more logs (for example, if the user of my CLI passed a `--verbose` option) while

[2022-09-29 15:35] bartekpacia commented on #385
I'd love this!

Sure! See #528. Sorry for mixing these 2 issues.

[2022-10-01 18:55] h1amza opened #529 "mason add issue"
i can not run  mason add

**Requirements**
![Capture](https://user-images.githubusercontent.com/32615603/193424055-c40007a0-d06c-4ddd-830b-0dab39f02923.PNG)

[2022-10-01 19:06] felangel commented on #529
Hi @h1amza 👋
There’s no getx_template currently published on [BrickHub](https://brickhub.dev) so this is expected behavior.

[2022-10-01 19:07] #529 closed

[2022-10-02 06:25] LukeMoody01 opened #530 "fix: default values for array are not selected"
**Description**

When using default values in an array variable, if the user presses `enter` for default, an empty array is given instead.

**Steps To Reproduce**

1. Create a new brick
2. In brick.yaml, add the following variable:
[code]
3. Run the brick and use the default values for arrayTest
4. Verify default values used

**Expected Behavior**

As a user, I expect the specified default array t

[2022-10-02 06:28] felangel commented on #530
Hi @LukeMoody01 👋
Thanks for opening an issue!

I’ll have a look in the morning 👍

[2022-10-02 06:30] LukeMoody01 commented on #530
Thanks @felangel 👍

I'll also have a look to see if I can find any more info 🙂

[2022-10-02 09:38] LukeMoody01 commented on #530
After looking into the code, I found where I went wrong...
default: -> defaults:

Easily overlooked 😅 I will close this issue!

[2022-10-02 09:38] #530 closed

[2022-10-04 13:59] felangel commented on #384
It probably also makes sense to have this functionality on `mason make`

[2022-10-06 03:08] vincent-hoodoo opened #532 "Proposal: alternate syntax for conditional files / folders"
The current syntax for conditional files and folders is functional, but generates a file system representation that is really hard to understand and maintain.

### Example:
If I want a brick to generate an `android.dart` file only if the boolean parameter `android` is true, I'm supposed to name a file `{{#android}}android.dart{{/android}}`.
This has the effect of generating a directory named `{{#a

[2022-10-06 04:02] felangel commented on #532
Hi @vincent-hoodoo 👋
Thanks for opening an issue!

I'm definitely open to a proposal for an alternative syntax for conditionals.

What are your thoughts on something like:

[code]

It would just be an alternative syntax to the existing:

[code]

We could also support `if not` like:

[code]

As an alternative syntax to:

[code]

The reason why I'd prefer not to do something like `##` or `^` is beca

[2022-10-06 04:12] vincent-hoodoo commented on #532
Thank you for the response @felangel !

[code]
looks great.

Just a few remarks:
- do you think there could be an issue on some operating systems with the required space after `if` ?
- what do you think about making the closing tag more explicit, like `{{endif}}` instead of `{{end}}`?

A few other remarks not directly linked to this but related:
- would you also support `and` and `or` operators?
-

[2022-10-06 15:34] gucci-quoci opened #535 "fix: Nested templates doesn't work within a folder"
**Description**
Creating a nested template inside a folder doesn't generate the partial content.

**Steps To Reproduce**
1. Create a new brick
2. Create a folder named hello inside __brick__
3. Create a {{~ header}} file with "# Test"
4. Create a HELLO.md file with {{> header }} and "Hello world"
Result:

"Hello world"

My file tree:
├── __brick__
│   └── hello
│       ├── HELLO.md
│       └── {{~

[2022-10-06 16:44] felangel commented on #535
Hi @gucci-quoci 👋
Thanks for opening an issue!

I believe this is a duplicate of https://github.com/felangel/mason/issues/378 so I'm closing this but feel free to comment/upvote #378 👍

[2022-10-06 16:44] #535 closed

[2022-10-06 18:10] Desdaemon opened #536 "feat: allow `mason make` to run without confirmation"
**Description**

During testing, it would be much terser if `yes "\n" | mason make .."` is valid. However this throws an error:

[code]

**Requirements**

- [ ] Fix the CLI to accept stdin in such a way to allow `yes` to work; or
- [ ] Add a new flag that performs similar functionality e.g. `--no-confirm`
  - [ ] Requires `--on-conflict`?
  - [ ] Requires all options are present either in the comm

[2022-10-06 18:31] felangel commented on #536
Hi @Desdaemon 👋
Thanks for opening an issue!

Can you please provide more context? You can specify a config file if you want the command to be more terse:

[code]

Where `config.json` contains the values for all vars:

[code]

Let me know if that helps and if not can you please provide more context regarding what you're trying to achieve? Thanks!

[2022-10-06 19:05] Desdaemon commented on #536
My [brick](https://brickhub.dev/bricks/flutter_rust_bridge/) only has optional inputs, so it would be great to have the ability to skip specifying them during testing. Passing a config file is fine but I would prefer not duplicating input from brick.yaml. It also conditionally prompts for additional input in the hooks as well, so having `yes` be able to skip them is an improvement.

[2022-10-11 10:58] salihagic commented on #496
Hi, any updates on this?

[2022-10-11 13:18] felangel commented on #496
Sorry for the delay! I’ll have a look today, thanks!

[2022-10-13 02:38] #451 closed

[2022-10-13 03:02] felangel commented on #509
Hi @campovski 👋
Thanks for opening an issue!

Can you please provide a bit more context regarding why you'd want to use mason (and hooks) within a Flutter project? Thanks!

[2022-10-14 04:16] #526 closed

[2022-10-15 18:22] bartekpacia opened #546 "fix(mason_logger): test fail when run with `dart test`"
**Description**

`mason_logger`'s tests fail when run with `dart test`. What's interesting that all tests fail when run using VS Code's test runner or when using `spec_cli`.

1. Checkout [the latest commit](https://github.com/felangel/mason/commit/d54c4269a8e4f8c136e88aa7263045ef564e3fa5)
2. `cd packages/mason_logger`
3. `$ dart test`
4. See output

<details>

<summary>Output</summary>

[code]

</

[2022-10-16 11:25] tyypgzl opened #547 "fix: mason update command not working(mason_cli)"
**Description**
mason update command not working for me.
- i check my mason version.
[code]
- I run mason update command.

[code]
- After the update, I check the mason version again.
[code]
- still mason version 0.1.0-dev.35.

[2022-10-16 14:11] felangel commented on #547
Hi @tyypgzl 👋
Thanks for opening an issue!

What version of Dart do you have installed? (`dart --version`)

I’m guessing you aren’t on >=2.16 so you need to upgrade dart first. Let me know if that helps 👍

[2022-10-19 11:43] campovski commented on #509
@felangel I am building a desktop app (something in terms of "Flutter project generator") that would take a brick and user-specified values and then generate a skeleton Flutter project with a lot of functionality. Currently, as a workaround, I am doing the hook logic in the app itself, however this is not optimal, because there is code duplication (between hooks and the app code). The purpose of t

[2022-10-19 22:07] campovski commented on #509
Another workaround would be to invoke mason CLI with `Process.run` instead of working with mason from Flutter code.

[2022-10-21 20:09] danieldcastro opened #574 "Question: Is it possible to include a line of code in a file that already exists?"
Can someone help me with this please?
I need to be able to put a line of code inside a class of a file that already exists.

Example:

I have the file Routes.dart
[code]

And I need to put this line inside the Routes class in Routes.dart
[code]

Let's say the name of the route is "generic route"

So the complete file would be
[code]

I appreciate who can help me.

[2022-10-24 12:16] timsemmler commented on #574
I think there is no out-of-the-box solution for that.
You probably need to write a pre_gen hook for that. Two solutions are coming two my mind...
Importing the original dart file into your pre_gen.dart and then getting the constants as List via reflection.
You then can add a new Constant to that list and rewrite the Routes file.
The other parses the original Routes-File to find out where you could

[2022-10-24 12:19] felangel commented on #574
This is something that we’ve been discussing and it would be possible via patch files. Planning to dedicate more time to exploring the best way to support this in the next few weeks.

[2022-10-24 15:05] danieldcastro commented on #574
Thanks, I will try one of these options.

[2022-10-24 15:06] danieldcastro commented on #574
Do you think it's a simple thing to do?

[2022-10-25 23:14] bartekpacia commented on #528
Looks like this was fixed in #549 💙

[2022-10-25 23:22] bartekpacia commented on #527
This got better after merging #549:

<img width="497" alt="Screenshot 2022-10-26 at 1 21 13 AM" src="https://user-images.githubusercontent.com/40357511/197900110-699fce98-681c-475c-b621-da580cd66b35.png">

[2022-10-28 03:44] felangel commented on #547
Closing for now since there aren't any actionable next steps. Feel free to provide more info and/or a reproduction sample and I'm happy to take a closer look 👍

[2022-10-28 03:44] #547 closed

[2022-10-28 03:45] felangel commented on #501
Closing for now since there are no actionable next steps but feel free to comment with additional information if the issue persists.

[2022-10-28 03:45] #501 closed

[2022-10-29 05:16] matthew-carroll opened #583 "fix: Declare brick.yaml variable as a list of strings"
**Description**

I'd like to configure one of my brick variables to be a list of strings. I'd like to provide a default value for that list in brick.yaml.

[code]

**Expected Behavior**

I'm prompted for a list of values, with the default set to what configuration in the brick.yaml file.

**Actual behavior**

I get an error when running mason.

**Screenshots**

![Screen Shot 2022-10-28 at 10 15 31

[2022-10-29 05:32] felangel commented on #583
Hi @matthew-carroll 👋
Thanks for opening an issue!

The `array` type expects you to provide a list of values from which the user can choose zero or more values:

[code]

[code]

If you want a users to enter a free-form list then you can just use type `string` and prompt them to provide a list:

[code]

Or you can also use type `string` and prompt them to enter a comma-separated list (for example)

[2022-10-29 05:53] matthew-carroll commented on #583
In my case I'm interested in a list of free-form values.

Given that lists are supported for bounded sets, is there any reason not to support lists of free-form values? I would assume that such situations aren't uncommon, and registering programmatic hooks to support comma-separated lists of free-form values seems like a considerable amount of work, when multiplied across all the Mason users.

In

[2022-10-29 06:08] matthew-carroll opened #584 "Consider renaming Logger"
Mason might have too many users already to do anything about this , but I thought I'd point this out.

The term "Logger" appears to be used within the context of hooks to interact with a user. This is a very confusing name. I don't think I've ever seen the term "logger" applied to user interaction. It would never have occurred to me to look at the `Logger` API to control user input, except that I

[2022-10-29 06:11] felangel commented on #583
This is already possible without hooks if you're okay with users providing the input as a list:

[code]

It all just comes down to what you want the user experience to be. What would be your ideal API resulting user experience? I'm more than happy to extend the existing API (maybe with a `list` type) but we just need to define what the API and resulting prompting experience would be.

The philosop

[2022-10-29 06:22] matthew-carroll commented on #583
I think there a couple obvious ways to collect a list of values.

First, let the user enter a comma-separated list, or items separated by spaces. A corresponding parser might allow for a little bit of variation here. But we know the user is trying to type a series of values:

[code]

Those items could then be parsed and provided to the template system as a list, like any other list. The separator

[2022-10-29 06:22] felangel commented on #584
Hey 👋
Thanks for the feedback! Currently the mason_logger API acts as a wrapper around stdout and stdin. What do you recommend in terms of naming?

[2022-10-29 06:30] matthew-carroll commented on #584
The biggest thing is that I'd separate the two concepts. Developers probably do want to log information. And developers definitely want to prompt the user. I'm not confident on the terminology for the prompt system because I don't spend a lot of time working with CLI apps.

One thing I'm wondering is why stdout and stdin need to be wrapped? Is Mason installing some behavior, or intercepting messag

[2022-10-29 06:36] felangel commented on #584
What I meant is mason_logger exposes APIs on top of stdout and stdin to simplify common tasks such as logging progress (with an animation and duration), prompting, writing messages, warnings, errors, etc. basically the goal was for mason_logger to be used for any interactions between cli and user so in this context it’s not really limited to being used for traditional logging.

[2022-10-29 06:51] matthew-carroll commented on #584
The `Stdout` API includes terms like `hasTerminal`, `terminalColumns`, and `terminalLines`. Therefore, the term `terminal` wouldn't be unreasonable.

[code]

[2022-10-29 06:56] matthew-carroll opened #585 "feat: Don't include blank lines when conditional content is excluded"
**Description**

I'm using mustache guards to conditionally display information.

[code]

When `some_guard` is `false` I would expect:

[code]

But I think what I'm seeing in my generates files is:

[code]

I could collapse the guards down to one line, but I think that makes it more difficult to read, and I think it would still result in one extra line, instead of two.

[2022-10-29 07:00] felangel commented on #585
Hey 👋
I believe this is working as intended according to the mustache spec. mason uses package:mustache_template internally for the templating so it probably makes sense to move the issue there if you feel this behavior should change.

[2022-10-29 07:22] matthew-carroll commented on #585
Ok. Unfortunate that they did that, but oh well.

[2022-10-29 07:22] #585 closed

[2022-10-29 12:58] ArielFerreiro opened #586 "feat: Question, is it possible to add a directory/file based on a variable value (boolean)"
I wonder if there is a way to add an entire directory or a specific file based on the value of a boolean variable.

Example: var add_feature_x = true, generates the content of a directory or specific file, otherwise skip it.

Something similar to what can be done in a content of a file with {{#}} and {{^}} but with the directory structure itself.

Thank you!

[2022-10-29 14:29] felangel commented on #586
Hi @ArielFerreiro 👋
Thanks for opening an issue!

Yes you can 🙂
Check out https://github.com/felangel/mason/tree/master/bricks/plugin/__brick__ for an example and let me know if you have questions.

[2022-10-29 14:29] #586 closed

[2022-10-29 17:11] #514 closed

[2022-10-29 18:20] felangel commented on #584
Just to make sure I understand, you'd prefer to have two different APIs as part of `HookContext`:
- `context.logger` for traditional logging
- `context.terminal` for two-way interactions with the user

If the above is correct then I'd like to discuss what methods would be supported as part of each. For example, currently the logger supports traditional logging APIs like: `info`, `warn`, `err`, etc

[2022-10-29 18:32] felangel commented on #583
Just to clarify, you'd prefer to have support for both the single line entry with some configurable separator as well as a one-by-one entry? Are there specific scenarios in which you'd prefer the single line entry over the one-by-one entry? I'd love to see if we can come up with a unified approach.

At the moment, that exact formatting isn't possible without a hook due to limitations in mustache.

[2022-10-29 22:00] matthew-carroll commented on #584
Yes, **if** you feel that a logger needs to be included in the `HookContext` at all. It's not yet clear to me why a logger needs to be provided, given that app developers can instantiate the logger of their choice without losing any control. But if you want to include a logger in `HookContext`, then I think separate APIs is good idea. The logger **might** output to terminal, but there's no such re

[2022-10-29 22:02] matthew-carroll commented on #583
I'm personally happy with just the line-by-line entry.

[2022-10-29 22:40] matthew-carroll opened #587 "feat: Is there support for complex user questionnaires?"
**Description**

I have a use-case which involves asking the user a number of questions that depend upon earlier questions. The user might go through various routes of questioning. At the end, all of the user's answers assemble into a configuration, which guides the generation of code.

I'm wondering if there's anything in `mason` that's intended to facilitate these use-cases, or if `mason` just p

[2022-10-30 00:18] felangel commented on #587
Hi @matthew-carroll 👋
This is a perfect use-case for using a pre_gen hook and the logger api. You can collect the necessary information and build up the configuration dynamically. Hope that helps!

[2022-10-30 00:39] matthew-carroll commented on #587
That's just basic I/O, though, right? There aren't any APIs for constructing that question graph?

[2022-10-30 00:45] felangel commented on #587
Yup at the moment but happy to discuss any potential enhancements that can be made.

[2022-10-30 01:09] matthew-carroll commented on #587
I think I'll take a stab at creating a package for that structure. I'll need to ask the same questions outside of `mason`, too, so probably better as a separate package.

[2022-10-30 01:09] #587 closed

[2022-10-30 22:14] felangel commented on #486
In my opinion, this is working as expected because you shouldn't be modifying the files is the mason cache directory by hand. Going to close this for now but if you are aware of any steps that lead to the corruption of the mason cache please let me know and I'm more than happy to take a closer look and work on a fix 👍

[2022-10-30 22:14] #486 closed

[2022-11-01 04:05] #527 closed

[2022-11-02 09:04] iChicago opened #596 "feat: prompt to select a brick"
**Description**

**Problem:**
I usually don't memorize what bricks are available globally. So I try to list them using `mason list -g` then, I copy the brick's name and then run `mason make selectedTemplate`.

**Suggested Solution:**
I would love to make it easier by doing `mason make` which prompts a list of the installed bricks. Then I select the required one.

**Suggested Solution2:**
I would l

[2022-11-05 18:25] Xezolpl commented on #574
Hey, did u find a solution for that, can u provide an example code?

[2022-11-12 17:37] Legendorik commented on #496
Hello!

I also encountered this problem and did a little digging. It seems that the cause of the problem is the system's limitation to the maximum path length. It's only 260 characters on Windows 10 by default. In the DeMarcoMan description the path length was 276 characters. In my case it was a little less - 268, but still the same exception.

`FileSystemException: Directory listing failed, path

[2022-11-13 00:11] LukeMoody01 opened #619 "fix(mason_logger): Windows terminals not showing animation progress"
**Description**

When running the creation of bricks that use the Logger.progress method, the animation is not shown on windows terminals.

I did some testing and this is caused by the stdioType check, in PR #582
It seems the stdioType for windows is 'static'(See below screenshot). Not too sure how this will pan out in checking for this?

**Steps To Reproduce**

Windows Device:
1. Open a cmd/power

[2022-11-13 01:44] #619 closed

[2022-11-13 01:59] felangel commented on #619
Hey @LukeMoody01 👋
Thanks for catching this! It should be resolved in `mason_logger v0.2.3` and you should be able to re-activate `mason_cli` to upgrade your logger version:

`dart pub global activate mason_cli`

[2022-11-13 02:07] LukeMoody01 commented on #619
Legend! Thanks, @felangel! 👏

[2022-11-15 05:39] tyypgzl commented on #547
Current dart sdk version

➜  ~ fvm dart --version
Dart SDK version: 2.18.2 (stable) (Tue Sep 27 13:24:11 2022 +0200) on "macos_arm64"

But i am not sure what dart version is when i get this error.

[2022-11-15 05:49] felangel commented on #547
mason doesnt use fvm by default so you most likely have an older version of dart installed. You can check by running `dart --version` which likely needs to be updated or you need to configure dart to use the fvm installation

[2022-11-23 17:01] jksevend opened #632 "docs: Generation of version.dart in mason_cli"
**Description**

Hey :)
This is just a simple question: **How did you generate the version.dart in the mason_cli?**

I assume the ``build_runner`` package has something to do with this but my research on this topic was not really successful.
Right now I just hardcode the version in a file but generating seems like a much better approach.

[2022-11-23 17:04] felangel commented on #632
Hi @jksevend 👋
It's generated using [`package:build_version`](https://pub.dev/packages/build_version).

[2022-11-23 17:04] #632 closed

[2022-11-23 21:04] erickzanardo opened #633 "fix: error message when adding a brick, with an non initialised installation"
**Description**

When trying to add a brick to mason, with an non-initialised installation, mason gives an error message with the following `bricks.json not found`, which is not clear that the cause of the error is the lack of running `mason init`.

**Steps To Reproduce**

1. Have a fresh install of mason, don't run `mason init`
2. Add any brick
3. See the error message

**Expected Behavior**

Mas

[2022-11-25 18:50] #382 closed

[2022-11-26 21:12] abitofevrything opened #637 "feat: Nested variables"
**Description**

Sometimes when creating a brick, we might want to optionally include some code if the user wishes so. For example, we might have a `include_color` variable which would generate a `Color` class if it is `true`, and nothing otherwise.

This is pretty simple to do, but if the generation of the `Color` class itself depends on a variable that is used nowhere else, it gets ugly. Now we